<v-dialog
  @click:outside="dialogEvent"
  :value="value"
  @input="dialogEvent"
  :defaultItem="defaultItem"
  max-width="500px"
>
  <v-card>
    <v-toolbar dark color="primary" dense flat>
      <v-toolbar-title class="white--text text-center"
        >Confirmar</v-toolbar-title
      >
    </v-toolbar>
    <v-spacer></v-spacer>
    <v-card-text class="pa-4 black--text"
      >Esta seguro quiere eliminar este(a) {{ mensaje }}?</v-card-text
    >
    <v-card-actions class="pt-0">
      <v-spacer></v-spacer>
      <v-btn class="ma-1" color="grey" text @click="dialogEvent">Cancelar</v-btn>
      <v-btn class="ma-1" color="error" text @click="deleteFunc">Eliminar</v-btn>
    </v-card-actions>
  </v-card>
</v-dialog>
