<v-container>
  <v-app-bar absolute app color="teal lighten-5" flat>
    <v-row class="d-flex  justify-space-beetwen align-center">
      <v-col cols="3" md="6" class="d-flex align-center">
        <v-btn
          class="mr-3 primary--text"
          elevation="1"
          fab
          small
          @click="setDrawer(!drawer)"
        >
          <v-icon v-if="!drawer">mdi-menu</v-icon>
          <v-icon v-else>mdi-view-quilt</v-icon>
        </v-btn>
        <div v-if="drawer" class="d-flex">
          <v-icon small class="primary--text mr-3">mdi-home</v-icon>
          <v-breadcrumbs :items="rutasText" class="pl-0 ml-0">
            <template v-slot:divider>
              <v-icon>mdi-chevron-right</v-icon>
            </template>
          </v-breadcrumbs>
        </div>
      </v-col>
      <v-col cols="4" md="4" class="d-flex justify-end">
        <v-menu v-if="esGerente" offset-y transition="scale-transition">
          <template v-slot:activator="{ on, attrs }">
            <v-btn color="primary" outlined dark v-bind="attrs" v-on="on">
              <v-icon class="mr-md-3">mdi-store-cog</v-icon>
              <span class="d-none d-md-block">Cambiar de Sucursal</span>
            </v-btn>
          </template>
          <v-list>
            <v-list-item-group mandatory>
              <v-list-item
                v-for="(item, index) in listaSucursales"
                :key="index"
                @click="cambiarSucursal(item.id)"
                active-class="teal lighten-5"
                selectable
              >
                <template v-slot:default="{ active }">
                  <v-list-item-action>
                    <v-checkbox :input-value="active" disabled></v-checkbox>
                  </v-list-item-action>
                  <v-list-item-content>
                    <v-list-item-title class="d-flex justify-space-between">
                      <span class="text-body-2 info--text"
                        >Sucursal {{ item.nombre }}</span
                      >
                      <code class="warning--text">{{item.codigoSucursal}}</code>
                    </v-list-item-title>
                  </v-list-item-content>
                </template>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-menu>
      </v-col>
      <v-col cols="5" md="2" class="d-flex justify-end">
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              class="d-none d-md-block"
              v-bind="attrs"
              v-on="on"
              text
              fab
              @click="handleFullScreen()"
            >
              <v-icon v-if="!isFullScreen">fullscreen</v-icon>
              <v-icon v-else>mdi-fullscreen-exit</v-icon>
            </v-btn>
          </template>
          <span v-if="!isFullScreen">Pantalla completa</span>
          <span v-else>Salir pantalla completa</span>
        </v-tooltip>
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              v-bind="attrs"
              v-on="on"
              class="ml-2 primary--text"
              min-width="0"
              text
              fab
              to="/"
            >
              <v-icon>mdi-view-dashboard</v-icon>
            </v-btn>
          </template>
          <span>Ir a dashboard</span>
        </v-tooltip>
        <v-menu
          bottom
          left
          offset-y
          origin="top right"
          transition="scale-transition"
        >
          <template v-slot:activator="{on,attrs}">
            <v-btn class="ml-2 primary--text" min-width="0" text fab v-on="on">
              <v-icon>mdi-account</v-icon>
            </v-btn>
          </template>
          <v-list :tile="false" nav>
            <v-list-item>
              <v-list-item-title class="text-overline text-center white--text">
                <div class="teal darken-2 py-2 px-6">
                  {{accountX.username}}
                </div>
              </v-list-item-title>
            </v-list-item>
            <v-hover v-slot="{ hover }">
              <v-list-item
                :class="hover? 'fondo1': 'background: white'"
                to="/profile"
              >
                <v-list-item-title :class="hover? 'white--text': 'black--text'"
                  >Mi cuenta</v-list-item-title
                >
              </v-list-item>
            </v-hover>
            <v-hover v-slot="{ hover }">
              <v-list-item
                :class="hover? 'fondo1': 'background: white'"
                @click="logout"
                to="/login"
              >
                <v-list-item-title :class="hover? 'white--text': 'black--text'">
                  Salir
                </v-list-item-title>
              </v-list-item>
            </v-hover>
          </v-list>
        </v-menu>
      </v-col>
    </v-row>
  </v-app-bar>
  <v-overlay :value="overlay" group="overlay">
    <v-progress-circular indeterminate size="64"></v-progress-circular>
  </v-overlay>
</v-container>
