<v-container fluid>
  <v-card>
    <v-card-title class="d-flex justify-space-between"
      >
      <span class="info--text">
        Transferencia de Productos por SUCURSAL, sucursal <code>{{sucursal.nombre}}</code></span
      >
      <v-card-actions class="d-flex justify-end">
        <v-btn tile color="error" text @click="resetForm">Resetear</v-btn>
        <v-btn :loading="loading" tile color="success" @click="openModalTransaccion()"
          >crear</v-btn
        >
      </v-card-actions>
    </v-card-title>
    <v-divider></v-divider>
    <v-form ref="salidaForm">
      <v-card-text>
        <v-row class="d-flex">
          <v-col cols="12" md="4" class="order-2 order-md-1">
            <v-alert
              icon="mdi-archive-arrow-up"
              outlined
              prominent
              text
              color="error"
            >
              <v-flex
                cols="12"
                sm="4"
                class="d-flex justify-center flex-column align-center"
              >
                <span class="text-overline">Sucursal de Origin</span>
                <span class="text-overline">de Transferencia</span>
                <span class="text-overline">{{ sucursal.nombre }}</span>
                <code class="text-h6 font-weight-bold">{{ sucursal.codigoSucursal }}</code>
              </v-flex>
            </v-alert>
          </v-col>
          <v-col cols="12" md="4" class="order-md-2">
            <v-alert
              icon="mdi-archive-arrow-down"
              outlined
              prominent
              text
              color="primary"
            >
              <v-flex
                cols="12"
                sm="4"
                class="d-flex justify-center flex-column align-center"
              >
                <span class="text-overline">Sucursal de Destino</span>
                <span class="text-overline">de Transferencia</span>
                <span class="text-overline">{{ sucursalTwo.nombre || '-----' }}</span>
                <v-row align="center">
                  <v-col class="grow">
                    <code class="text-h6 font-weight-bold">{{ sucursalTwo.codigoSucursal || '-----' }}</code>
                  </v-col>
                  <v-col class="shrink">
                    <v-menu offset-y transition="scale-transition">
                      <template v-slot:activator="{ on, attrs }">
                        <v-btn color="primary" outlined dark v-bind="attrs" v-on="on">
                          <v-icon>mdi-point-of-sale</v-icon>
                          <span class="d-none d-md-block">Sucursal</span>
                        </v-btn>
                      </template>
                      <v-list>
                        <v-list-item
                          v-for="(item, index) in listaSucursales"
                          :key="index"
                          @click="setCurrentSucursal(item)"
                          v-if="item.id != sucursal.id"
                        >
                          <v-list-item-title>
                            <span class="mr-5">Sucursal {{ index + 1 }}</span>
                            <code>{{item.codigoSucursal}}</code>
                          </v-list-item-title>
                        </v-list-item>
                      </v-list>
                    </v-menu>
                    <!-- <v-btn
                      class="mt-2"
                      text
                      small
                      color="primary"
                      >
                      <v-icon left>mdi-point-of-sale</v-icon>
                      <span class="text-caption text-decoration-underline">Seleccionar</span>
                    </v-btn> -->
                  </v-col>
                </v-row>
              </v-flex>
            </v-alert>
            <v-input
              dense
              :rules="rules.salidaTwoRules.sucursalTwoError"
              v-model="sucursalTwo.id"
            >
            </v-input>
          </v-col>
          <v-col cols="12" md="4" class="text-h5 order-1 order-md-3">
            <v-alert icon="mdi-clock" outlined prominent text type="info">
              <v-flex
                cols="12"
                sm="4"
                class="d-flex justify-center flex-column align-center"
              >
                <span class="text-overline">Fecha Actual</span>
                <span class="text-h5 font-weight-bold"
                  >{{currentDate.substring(0,15)}}</span
                >
              </v-flex>
            </v-alert>
            <v-alert
              icon="mdi-archive-arrow-up"
              outlined
              prominent
              text
              color="error"
            >
              <v-flex
                cols="12"
                sm="4"
                class="d-flex justify-center flex-column align-center"
              >
                <span class="text-overline">Tipo de Salida</span>
                <code class="text-h6 font-weight-bold">TRANSFERENCIA</code>
              </v-flex>
            </v-alert>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-text>
        <v-card>
          <v-card-title
            class="primary white--text d-flex justify-space-between"
          >
            <span>Detalles de Transaccion</span>
            <v-btn
              class="d-none d-md-block"
              tile
              outlined
              dark
              @click="openCreate"
              >Añadir Producto
              <v-icon right>mdi-plus</v-icon>
            </v-btn>
            <v-btn class="d-md-none" text dark fab @click="openCreate">
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </v-card-title>
          <v-card-text>
            <v-data-table
              :headers="productos_entrada.headers"
              :items="productos_entrada.items"
              disable-sort
              disable-pagination
              disable-filtering
              hide-default-footer
            >
              <template v-slot:no-data>
                <v-alert
                  class="mt-4"
                  :value="true"
                  icon="warning"
                  dense
                  outlined
                  type="warning"
                >
                  No hay productos añadidos a la entrada...
                </v-alert>
              </template>
              <template v-slot:item.#="{ index }">
                <p class="body-2 font-weight-bold mt-4">
                  {{index+1}}
                </p>
              </template>
              <template v-slot:item.cantidadSalida="{ item }">
                <v-text-field
                  :disabled="(item.cantidadSalidaInv - item.cantidad >= 0)"
                  v-model.number="item.cantidadSalida"
                  type="number"
                  min="1"
                  :max="(item.cantidad - item.cantidadSalidaInv)"
                  oninput="javascript: if (Number(this.value) >= Number(this.max)) this.value = this.max"
                >
                </v-text-field>
              </template>
              <!-- <template v-slot:item.producto="{ item }">
                <span class="text-caption">{{item.product.nombre}}</span>
              </template> -->
              <!-- <template v-slot:item.um="{ item }">
                <span class="text-caption"
                  >{{item.product.unidadMedida.unidad}}</span
                >
              </template> -->
              <template v-slot:item.producto.codigo="{ item }">
                <code>{{ item.producto.codigo }}</code>
              </template> 
              <template v-slot:item.producto.categoriaProducto="{ item }">
                <span class="text-caption font-weight-medium">
                  {{ item.producto.categoriaProducto }}
                </span>
              </template>
              <template v-slot:item.producto.marca.nombre="{ item }">
                <code class="text-caption">{{item.producto.marca.nombre}}</code>
              </template> 
              <template v-slot:item.producto.color.color="{item}">
                <v-avatar
                  size="30"
                  :color="item.producto.color.color"
                  style="border: 1px solid #686868;"
                ></v-avatar>
                <code class="text-caption">
                  {{ item.producto.color.descripcion }}
                </code>
              </template>
              <template v-slot:item.precioUnitarioCompra="{ item }">
                <code>
                  {{parseFloat(item.precioUnitarioCompra).toFixed(2)}} Bs.
                </code>
              </template> 
              <template v-slot:item.producto.precioUnitarioVenta="{ item }">
                <code>
                  {{parseFloat(item.producto.precioUnitarioVenta).toFixed(2)}} Bs.
                </code>
              </template>
              <!-- <template v-slot:item.precioUnitarioVenta="{ item }">
                <span
                  class="text-caption font-weight-medium secondary--text py-2"
                >
                  {{parseFloat(item.product.precioUnitarioVenta).toFixed(2)}} Bs.</span
                >
              </template> -->
              <template v-slot:item.subTotal="{ item }">
                <code class="text-caption font-weight-medium secondary--text py-2">
                  {{parseFloat(item.producto.precioUnitarioVenta * item.cantidadSalida).toFixed(2)}} Bs.
                </code>
              </template>
              <template v-slot:item.totalRestante="{ item }">
                <v-chip
                  v-if="item.cantidad - item.cantidadSalidaInv > 0"
                  color="success lighten-1"
                  class="text-caption"
                  dark
                  small
                >
                  DISPONIBLE {{ item.cantidad - item.cantidadSalidaInv }} {{ item.producto.unidadMedida.sigla }}
                </v-chip>
                <v-chip v-else color="error " dark small class="text-caption">
                  AGOTADO
                </v-chip>
              </template>
              <template v-slot:item.action="{ item, index }">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      small
                      fab
                      text
                      color="primary"
                      v-bind="attrs"
                      v-on="on"
                      @click="deleteProduct(index)"
                    >
                      <v-icon small>mdi-delete</v-icon>
                    </v-btn>
                  </template>
                  <span>Eliminar</span>
                </v-tooltip>
              </template>
            </v-data-table>
            <v-input
              dense
              :rules="rules.salidaTwoRules.itemsError"
              v-model="productos_entrada.items.length"
            >
            </v-input>
            <v-alert
              v-if="total >0"
              class="mt-4"
              :value="true"
              icon="mdi-cash"
              outlined
              prominent
              text
              type="info"
            >
              <v-flex class="d-flex justify-end align-center">
                <span class="text-h6 mr-3">TOTAL:</span>
                <code class="text-h6"
                  >{{parseFloat(total).toFixed(2)}} Bs.</code
                >
              </v-flex>
            </v-alert>
          </v-card-text>
        </v-card>
      </v-card-text>
    </v-form>
  </v-card>

  <v-dialog v-model="productDialog" max-width="1100px" persistent>
    <v-card>
      <v-card-title class="primary white--text"
        >{{modalTitle}} Producto
        <v-spacer></v-spacer>
        <v-btn fab text dark @click="closeProductDialog"
          ><v-icon>mdi-close</v-icon></v-btn
        >
      </v-card-title>
      <v-card-text>
        <v-form ref="productosForm">
          <v-row>
            <v-col cols="12" md="6">
              <!-- :rules="rules.productRules.productError" -->
              <v-autocomplete
                v-model="entradaItem.product"
								:search-input.sync="search"
                prepend-icon="mdi-archive-search"
                label="Producto"
                placeholder="Buscar Producto"
                chips
                return-object
                :items="productos"
                :item-text="getItemText"
              >
                <template v-slot:no-data>
                  <v-alert
                    prominent
                    text
                    outlined
                    type="error"
                    class="mx-2 mt-2"
                  >
                    <v-flex
                      cols="12"
                      sm="4"
                      class="d-flex justify-center flex-column align-center justify-space-between"
                    >
                      <span class="text-body-2">El producto no existe...</span>
                    </v-flex>
                  </v-alert>
                </template>
                <template v-slot:selection="data">
                  <v-chip
                    color="primary"
                  >
                    {{ data.item.nombre }}
                  </v-chip>
                  <v-avatar
                    size="30"
                    :color="data.item.color.color"
                    style="border: 1px solid #686868;"
                  ></v-avatar>
                  <span class="ml-1 caption">
                    {{ data.item.color.descripcion }} -
                    {{ data.item.color.codigo ? data.item.color.codigo : '' }}
                  </span>
                </template>

                <template v-slot:item="data">
                  <template v-if="typeof data.item !== 'object'">
                    <v-list-item-content
                      v-text="data.item"
                    ></v-list-item-content>
                  </template>
                  <template v-else>
                    <v-list-item-content>
                      <v-list-item-title class="font-weight-bold">
                        <v-avatar
                          size="30"
                          :color="data.item.color.color"
                          style="border: 1px solid #686868;"
                        ></v-avatar>
                        {{data.item.nombre}} -
                        <code class="text-overline">{{data.item.codigo}}</code>
                      </v-list-item-title>
                      <v-list-item-subtitle class="text-caption ml-3">
                        <span class="font-weight-bold"> Tipo:</span>
                        <span class="text-overline">
                          {{data.item.categoriaProducto}}
                        </span>
                      </v-list-item-subtitle>
                      <v-list-item-subtitle class="text-caption ml-3">
                        <span class="font-weight-bold">Unidad de Medida:</span>
                        <code
                          >{{data.item.unidadMedida.unidad}}
                          {{data.item.unidadMedida.sigla}}</code
                        >
                      </v-list-item-subtitle>
                    </v-list-item-content>
                  </template>
                </template>
              </v-autocomplete>
            </v-col>
            <v-col cols="12" md="3">
            </v-col>
            <v-col cols="12" md="3">
            </v-col>
            <v-col cols="12">
              <v-alert
                dense
                outlined
                :type="messageAlert.type"
                v-if="messageAlert.action"
              >
                {{ messageAlert.message }}
              </v-alert>
							<v-data-table
								:headers="detalle_entrada.headers"
								:items="detalle_entrada.items"
                disable-sort
                disable-pagination
                disable-filtering
                hide-default-footer
						  >
                <template v-slot:item.#="{ index }">
                  <p class="body-2 font-weight-bold mt-4">
                    {{index+1}}
                  </p>
                </template>

                <template v-slot:no-data>
                  <v-alert
                    class="mt-4"
                    :value="true"
                    icon="warning"
                    dense
                    outlined
                    type="warning"
                  >
                    No hay lotes de productos para una SALIDA del inventario...
                  </v-alert>
                </template>

                <template v-slot:item.cantidad="{ item }">
                  {{ item.cantidad }} {{ item.producto.unidadMedida.sigla }}
                </template>

                <template v-slot:item.createdDate="{ item }">
                  {{ fechaTo(item.createdDate) }}
                </template>

                <template v-slot:item.totalRestante="{ item }">
                  <v-chip
                    v-if="item.cantidad - item.cantidadSalidaInv > 0"
                    color="success lighten-1"
                    class="text-caption"
                    dark
                    small
                  >
                    <span class="caption">
                      DISPONIBLE {{ item.cantidad - item.cantidadSalidaInv }} {{ item.producto.unidadMedida.sigla }}
                    </span>
                  </v-chip>
                  <v-chip v-else color="error " dark small class="text-caption">
                    <span class="caption">
                      AGOTADO 0 {{ item.producto.unidadMedida.sigla }}
                    </span>
                  </v-chip>
                </template>
                <template v-slot:item.cantidadSalida="{ item }">
                  <v-text-field
                    :disabled="(item.cantidadSalidaInv - item.cantidad >= 0)"
                    v-model.number="item.cantidadSalida"
                    type="number"
                    min="1"
                    :max="(item.cantidad - item.cantidadSalidaInv)"
                    oninput="javascript: if (Number(this.value) >= Number(this.max)) this.value = this.max"
                  >
                  </v-text-field>
                </template>

                <template v-slot:item.producto.unidadMedida.sigla="{item}">
                  {{ item.producto.unidadMedida.sigla }} {{ item.producto.unidadMedida.unidad }} {{ item.producto.categoriaProducto }}
                </template>
                <template v-slot:item.producto.color.color="{item}">
                  <v-avatar
                    size="30"
                    :color="item.producto.color.color"
                    style="border: 1px solid #686868;"
                  ></v-avatar>
                  <code class="text-caption">
                    {{ item.producto.color.descripcion }}
                  </code>
                </template>

                 <template v-slot:item.subTotal="{ item }">
                  <code class="text-caption font-weight-medium secondary--text py-2">
                    {{parseFloat(item.producto.precioUnitarioVenta * item.cantidadSalida).toFixed(2)}} Bs.
                  </code>
                </template>

                </template>
                <template v-slot:item.action="{ item, index }">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        :disabled="(item.totalSalida - item.cantidad >= 0)"
                        small
                        fab
                        color="primary"
                        @click="addDetalleSalidaProducto(item)"
                      >
                        <v-icon small dark>mdi-plus</v-icon>
                      </v-btn>
                    </template>
                  </v-tooltip>
                </template>

							</v-data-table>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions class="d-flex justify-end">
        <v-btn text tile color="error" @click="closeProductDialog"
          >Cerrar</v-btn
        >
      </v-card-actions>
    </v-card>
  </v-dialog>
  <v-dialog v-model="productFormDialog" max-width="800px" persistent>
    <v-card>
      <v-card-title
        class="success text-h5 white--text d-flex justify-space-between"
        ><span>Crear Producto</span>
        <v-btn fab text dark @click="closeProductFormModal"
          ><v-icon>mdi-close</v-icon></v-btn
        >
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-form ref="productForm">
          <v-row>
            <v-col cols="12" md="4">
              <v-text-field
                :rules="productFormItems.rules.nombreError"
                prepend-icon="mdi-dropbox"
                v-model="productItem.nombre"
                label="Nombre de Producto"
              >
              </v-text-field>
            </v-col>
            <v-col cols="12" md="4">
              <v-text-field
                :rules="productFormItems.rules.codigoError"
                prepend-icon="mdi-data-matrix-plus"
                v-model="productItem.codigo"
                label="Codigo de Producto"
              >
              </v-text-field>
            </v-col>
            <v-col cols="12" md="4">
              <v-select
                :rules="productFormItems.rules.categoriaError"
                v-model="productItem.categoriaProducto"
                :items="productFormItems.tiposProducto"
                prepend-icon="mdi-tshirt-crew"
                label="Tipo de Producto:"
                chips
              >
              </v-select>
            </v-col>
            <v-col cols="12" md="4">
              <v-select
                :rules="productFormItems.rules.colorError"
                v-model="productItem.colorId"
                :items="productFormItems.colores"
                prepend-icon="mdi-format-color-fill"
                label="Color :"
                item-text="id"
                item-color="primary"
                chips
              >
                <template v-slot:selection="{ item, index }">
                  <v-chip text-color="white" :color="item.color" small
                    >{{ item.color }}</v-chip
                  >
                </template>
                <template v-slot:item="{ active, item, attrs, on }">
                  <v-list-item v-on="on" v-bind="attrs" #default="{ active }">
                    <v-list-item-action>
                      <v-checkbox :input-value="active"></v-checkbox>
                    </v-list-item-action>
                    <v-list-item-content>
                      <v-list-item-title>
                        <v-row
                          no-gutters
                          class="d-flex justify-space-between align-center"
                        >
                          <span class="text-uppercase text-overline"
                            >{{ item.descripcion }}</span
                          >
                          <!--v-spacer></v-spacer-->
                          <v-chip
                            label
                            class="white--text"
                            :color="item.color"
                            small
                            >{{ item.color }}</v-chip
                          >
                        </v-row>
                      </v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </template>
              </v-select>
            </v-col>
            <v-col cols="12" md="4">
              <v-select
                :rules="productFormItems.rules.unidadMedidaError"
                :items="productFormItems.unidadesMedida"
                v-model="productItem.unidadMedidaId"
                item-text="id"
                prepend-icon="mdi-ruler"
                label="Selecciona la unidad de Medida"
                chips
              >
                <template slot="selection" slot-scope="data">
                  {{data.item.unidad}} ({{data.item.sigla}})
                </template>
                <template slot="item" slot-scope="data">
                  <div class="d-flex justify-space-around">
                    <span>{{ data.item.unidad }}</span>
                    <code>({{data.item.sigla}})</code>
                  </div>
                </template>
              </v-select>
            </v-col>
            <v-col cols="12" md="4">
              <v-select
                :rules="productFormItems.rules.marcaError"
                :items="productFormItems.marcas"
                v-model="productItem.marcaId"
                item-text="id"
                prepend-icon="mdi-shopping"
                label="Selecciona la marca del producto"
                chips
              >
                <template slot="selection" slot-scope="data">
                  {{data.item.nombre}}
                </template>
                <template slot="item" slot-scope="data">
                  <div class="d-flex justify-space-around">
                    <span>{{ data.item.nombre }}</span>
                  </div>
                </template>
              </v-select>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
      <v-card-actions class="d-flex justify-end">
        <v-btn tile text color="error" @click="closeProductFormModal"
          >cancelar</v-btn
        >
        <v-btn :loading="loading" tile color="success" @click="checkProductForm"
          >crear</v-btn
        >
      </v-card-actions>
    </v-card>
  </v-dialog>
  <v-dialog v-model="proveedorFormDialog" max-width="600px" persistent>
    <v-card>
      <v-card-title class="success white--text d-flex justify-space-between">
        <span class="text-h5">Crear Proveedor</span>
        <v-btn fab text dark @click="closeProveedorFormModal"
          ><v-icon>mdi-close</v-icon></v-btn
        >
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-form ref="proveedorForm">
          <v-row>
            <v-col cols="12" md="6">
              <v-text-field
                :rules="proveedorRules.razonSocialError"
                prepend-icon="mdi-account-multiple-outline"
                v-model="proveedorItem.razonSocial"
                label="Nombre o Razón Social"
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="6">
              <v-text-field
                :rules="proveedorRules.nitCiError"
                v-model="proveedorItem.nitCi"
                prepend-icon="mdi-identifier"
                label="Número NIT o CI"
                type="number"
              >
              </v-text-field>
            </v-col>
            <v-col cols="12" md="6">
              <v-text-field
                v-model="proveedorItem.celular1"
                prepend-icon="mdi-cellphone-basic"
                label="Numero de Celular"
                type="number"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-form>
        <v-card-actions class="d-flex justify-end">
          <v-btn tile text color="error" @click="closeProveedorFormModal"
            >cancelar</v-btn
          >
          <v-btn
            :loading="loading"
            tile
            color="success"
            @click="checkProveedorForm"
            >crear</v-btn
          >
        </v-card-actions>
      </v-card-text>
    </v-card>
  </v-dialog>
  <product-detail-modal
    v-model="dialogDetail"
    :defaultItem="detailProduct"
  ></product-detail-modal>
  <v-dialog v-model="transferenciaDialog" max-width="800px">
    <v-card>
      <v-card-title class="primary white--text">
        <v-icon large left dark>mdi-archive-arrow-up</v-icon>
        <v-icon large left dark>mdi-archive-arrow-down</v-icon>
        Transferencia de Productos
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text class="d-flex flex-column justify-space-around">
        <p class="text-body-1 pt-4 text-center">
          ¿Esta seguro de transferir los productos?
        </p>
        <v-card-text>
          <v-row class="d-flex">
            <v-col cols="12" md="6" class="order-2 order-md-1">
              <v-alert
                icon="mdi-archive-arrow-up"
                outlined
                prominent
                text
                color="error"
              >
                <v-flex
                  cols="12"
                  sm="4"
                  class="d-flex justify-center flex-column align-center"
                >
                  <span class="text-overline">Sucursal de Origin</span>
                  <span class="text-overline">de Transferencia</span>
                  <span class="text-overline">{{ sucursal.nombre }}</span>
                  <code class="text-h6 font-weight-bold">{{ sucursal.codigoSucursal }}</code>
                </v-flex>
              </v-alert>
            </v-col>
            <v-col cols="12" md="6" class="order-md-2">
              <v-alert
                icon="mdi-archive-arrow-down"
                outlined
                prominent
                text
                color="primary"
              >
                <v-flex
                  cols="12"
                  sm="4"
                  class="d-flex justify-center flex-column align-center"
                >
                  <span class="text-overline">Sucursal de Destino</span>
                  <span class="text-overline">de Transferencia</span>
                  <span class="text-overline">{{ sucursalTwo.nombre || '-----' }}</span>
                  <code class="text-h6 font-weight-bold">{{ sucursalTwo.codigoSucursal || '-----' }}</code>
                </v-flex>
              </v-alert>
              <v-input
                dense
                :rules="rules.salidaTwoRules.sucursalTwoError"
                v-model="sucursalTwo.id"
              >
              </v-input>
            </v-col>
          </v-row>
        </v-card-text>
        <v-alert
          type="warning"
          dense
          icon="warning"
          text
          outlined
          class="elevation-2"
        >
          <span class="text-overline mr-3">advertencia:</span>Esta accion es
          irreversible.
        </v-alert>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions class="d-flex justify-end">
        <v-btn text tile color="secondary" @click="transferenciaDialog = false"
          >cancelar</v-btn
        >
        <v-btn tile color="primary" :loading="loadingButton" @click="saveTransaccion">Realizar Transaccion</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</v-container>
