<v-container fluid>
  <v-card>
    <v-card-title class="d-flex justify-space-between"
      >
      <span class="info--text">
        Crear Salida, sucursal <code>{{sucursal.nombre}}</code></span
      >
      <v-card-actions class="d-flex justify-end">
        <v-btn tile color="error" text  @click="resetForm">Resetear</v-btn>
        <v-btn :loading="loading" tile color="success" @click="createSalida"
          >crear</v-btn
        >
      </v-card-actions>
    </v-card-title>
    <v-divider></v-divider>
    <v-form ref="salidaForm">
      <v-card-text>
        <v-row class="d-flex">
          <v-col cols="12" md="4" class="order-2 order-md-1">
            <v-alert
              icon="mdi-archive-arrow-up"
              outlined
              prominent
              text
              color="error"
            >
              <v-flex
                cols="12"
                sm="4"
                class="d-flex justify-center flex-column align-center"
              >
                <span class="text-overline">Tipo de Salida</span>
                <v-select
                  :rules="rules.salidaRules.tipoSalida"
                  :items="tipoMovimientoSalida"
                  v-model="itemInvDetalleSalida.tipoMovSalida"
                  label="Salida por: "
                >
                  <template v-slot:selection="{ item }">
                    <v-chip
                      color="primary lighten-1"
                      class="text-caption"
                      dark
                      small
                    >
                    {{ item.replace('_', ' ') }}
                    </v-chip>
                  </template>
                  <template v-slot:item="{ item }">
                    <v-chip
                      color="primary lighten-1"
                      class="text-caption"
                      dark
                      small
                    >
                    {{ item.replace('_', ' ') }}
                    </v-chip>
                  </template>
                </v-select>
              </v-flex>
            </v-alert>
          </v-col>
          <v-col cols="12" md="4" class="order-2 order-md-1">
            <v-flex
              cols="12"
              sm="4"
              class="d-flex justify-center flex-column"
            >
            <v-textarea
              label="Observacion Salida del Inventario"
              placeholder="Escriba la Observacion Salida del Inventario"
              outlined
              rows="4"
              :rules="rules.salidaRules.tipoSalida"
              v-model="itemInvDetalleSalida.observacionSalida"
            ></v-textarea>
            </v-flex>
          </v-col>
          <v-col cols="12" md="4" class="text-h5 order-1 order-md-3">
            <v-alert icon="mdi-clock" outlined prominent text type="info">
              <v-flex
                cols="12"
                sm="4"
                class="d-flex justify-center flex-column align-center"
              >
                <span class="text-overline">Fecha Actual</span>
                <span class="text-h5 font-weight-bold"
                  >{{currentDate.substring(0,15)}}</span
                >
              </v-flex>
            </v-alert>
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-text>
        <v-card>
          <v-card-title
            class="primary white--text d-flex justify-space-between"
          >
            <span>Inventario Salida</span>
            <v-btn
              class="d-none d-md-block"
              tile
              outlined
              dark
              @click="openModal"
              >Añadir Producto
              <v-icon right>mdi-plus</v-icon>
            </v-btn>
            <v-btn class="d-md-none" text dark fab>
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </v-card-title>
          <v-data-table
            :headers="productos_salida.headers"
            :items="productos_salida.items"
            disable-sort
            disable-pagination
            disable-filtering
            hide-default-footer
          >
            <template v-slot:no-data>
              <v-alert
                class="mt-4"
                :value="true"
                icon="warning"
                dense
                outlined
                type="warning"
              >
                No hay productos añadidos a la entrada...
              </v-alert>
            </template>
            <template v-slot:item.#="{ index }">
              <p class="body-2 font-weight-bold mt-4">
                {{index+1}}
              </p>
            </template>
            <template v-slot:item.cantidadSalida="{ item }">
              <v-text-field
                :disabled="(item.cantidadSalidaInv - item.cantidad >= 0)"
                v-model.number="item.cantidadSalida"
                type="number"
                min="1"
                :max="(item.cantidad - item.cantidadSalidaInv)"
                oninput="javascript: if (Number(this.value) >= Number(this.max)) this.value = this.max"
              >
              </v-text-field>
            </template>
            <!-- <template v-slot:item.producto="{ item }">
              <span class="text-caption">{{item.product.nombre}}</span>
            </template> -->
            <!-- <template v-slot:item.um="{ item }">
              <span class="text-caption"
                >{{item.product.unidadMedida.unidad}}</span
              >
            </template> -->
            <template v-slot:item.producto.codigo="{ item }">
              <code>{{ item.producto.codigo }}</code>
            </template> 
            <template v-slot:item.producto.categoriaProducto="{ item }">
              <span class="text-caption font-weight-medium">
                {{ item.producto.categoriaProducto }}
              </span>
            </template>
            <template v-slot:item.producto.marca.nombre="{ item }">
              <code class="text-caption">{{item.producto.marca.nombre}}</code>
            </template> 
            <template v-slot:item.producto.color.color="{item}">
              <v-avatar
                size="30"
                :color="item.producto.color.color"
                style="border: 1px solid #686868;"
              ></v-avatar>
              <code class="text-caption">
                {{ item.producto.color.descripcion }}
              </code>
            </template>
            <template v-slot:item.precioUnitarioCompra="{ item }">
              <code>
                {{parseFloat(item.precioUnitarioCompra).toFixed(2)}} Bs.
              </code>
            </template> 
            <template v-slot:item.producto.precioUnitarioVenta="{ item }">
              <code>
                {{parseFloat(item.producto.precioUnitarioVenta).toFixed(2)}} Bs.
              </code>
            </template>
            <!-- <template v-slot:item.precioUnitarioVenta="{ item }">
              <span
                class="text-caption font-weight-medium secondary--text py-2"
              >
                {{parseFloat(item.product.precioUnitarioVenta).toFixed(2)}} Bs.</span
              >
            </template> -->
            <template v-slot:item.subTotal="{ item }">
              <code class="text-caption font-weight-medium secondary--text py-2">
                {{parseFloat(item.producto.precioUnitarioVenta * item.cantidadSalida).toFixed(2)}} Bs.
              </code>
            </template>
            <template v-slot:item.totalRestante="{ item }">
              <v-chip
                v-if="item.cantidad - item.cantidadSalidaInv > 0"
                color="success lighten-1"
                class="text-caption"
                dark
                small
              >
                DISPONIBLE {{ item.cantidad - item.cantidadSalidaInv }} {{ item.producto.unidadMedida.sigla }}
              </v-chip>
              <v-chip v-else color="error " dark small class="text-caption">
                AGOTADO
              </v-chip>
            </template>
            <template v-slot:item.action="{ item, index }">
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    small
                    fab
                    text
                    color="primary"
                    v-bind="attrs"
                    v-on="on"
                    @click="deleteProduct(index)"
                  >
                    <v-icon small>mdi-delete</v-icon>
                  </v-btn>
                </template>
                <span>Eliminar</span>
              </v-tooltip>
            </template>
          </v-data-table>
          <v-input
            dense
            :rules="rules.salidaRules.itemsError"
            v-model="productos_salida.items.length"
          >
          </v-input>
          <v-alert
            class="mt-4"
            :value="true"
            icon="mdi-cash"
            outlined
            prominent
            text
            type="info"
          >
            <v-flex class="d-flex justify-end align-center">
              <span class="text-h6 mr-3">TOTAL:</span>
              <code class="text-h6"
                >{{parseFloat(total).toFixed(2)}} Bs.</code
              >
            </v-flex>
          </v-alert>
        </v-card>  
      </v-card-text>
    </v-form>
  </v-card>
  <v-dialog v-model="productDialog" max-width="1350px" persistent>
    <v-card>
      <v-card-title class="primary white--text"
        >Salida De Producto
        <v-spacer></v-spacer>
        <v-btn fab text dark @click="closeProductDialog"
          ><v-icon>mdi-close</v-icon></v-btn
        >
      </v-card-title>
      <v-card-text>
        <v-form ref="productosForm">
          <v-row>
            <v-col cols="12" md="6">
              <v-autocomplete
                v-model="salidaItem.product"
                prepend-icon="mdi-archive-search"
                label="Producto"
                placeholder="Buscar Producto"
                chips
                return-object
                :items="productos"
                :item-text="getItemText"
              >
                <template v-slot:no-data>
                  <v-alert
                    prominent
                    text
                    outlined
                    type="error"
                    class="mx-2 mt-2"
                  >
                    <v-flex
                      cols="12"
                      sm="4"
                      class="d-flex justify-center flex-column align-center justify-space-between"
                    >
                      <span class="text-body-2">El producto no existe...</span>
                    </v-flex>
                  </v-alert>
                </template>
                <template v-slot:selection="data">
                  <v-chip color="primary">
                    {{ data.item.nombre }}
                  </v-chip>
                  <v-avatar
                    size="30"
                    :color="data.item.color.color"
                    style="border: 1px solid #686868;"
                  ></v-avatar>
                  <span class="ml-1 caption">
                    {{ data.item.color.descripcion }}
                  </span>
                </template>

                <template v-slot:item="data">
                  <template v-if="typeof data.item !== 'object'">
                    <v-list-item-content
                      v-text="data.item"
                    ></v-list-item-content>
                  </template>
                  <template v-else>
                    <v-list-item-content>
                      <v-list-item-title class="font-weight-bold">
                        <v-avatar
                          size="30"
                          :color="data.item.color.color"
                          style="border: 1px solid #686868;"
                        ></v-avatar>
                        {{data.item.nombre}} -
                        <code class="text-overline">{{data.item.codigo}}</code>
                      </v-list-item-title>
                      <v-list-item-subtitle class="text-caption ml-3">
                        <span class="font-weight-bold"> Tipo:</span>
                        <span class="text-overline">
                          {{data.item.categoriaProducto}}
                        </span>
                      </v-list-item-subtitle>
                      <v-list-item-subtitle class="text-caption ml-3">
                        <span class="font-weight-bold">Unidad de Medida:</span>
                        <code
                          >{{data.item.unidadMedida.unidad}}
                          {{data.item.unidadMedida.sigla}}</code
                        >
                      </v-list-item-subtitle>
                    </v-list-item-content>
                  </template>
                </template>
              </v-autocomplete>
            </v-col>
            <v-col cols="12" md="3">
            </v-col>
            <v-col cols="12" md="12">
              <v-alert
                dense
                outlined
                :type="messageAlert.type"
                v-if="messageAlert.action"
              >
                {{ messageAlert.message }}
              </v-alert>
              <v-data-table
								:headers="detalle_entrada.headers"
								:items="detalle_entrada.items"
                disable-sort
                disable-pagination
                disable-filtering
                hide-default-footer
						  >
                <template v-slot:item.#="{ index }">
                  <p class="body-2 font-weight-bold mt-4">
                    {{index+1}}
                  </p>
                </template>

                <template v-slot:no-data>
                  <v-alert
                    class="mt-4"
                    :value="true"
                    icon="warning"
                    dense
                    outlined
                    type="warning"
                  >
                    No hay lotes de productos para una SALIDA del inventario...
                  </v-alert>
                </template>

                <template v-slot:item.cantidad="{ item }">
                  {{ item.cantidad }} {{ item.producto.unidadMedida.sigla }}
                </template>

                <template v-slot:item.createdDate="{ item }">
                  {{ fechaTo(item.createdDate) }}
                </template>

                <template v-slot:item.totalRestante="{ item }">
                  <v-chip
                    v-if="item.cantidad - item.cantidadSalidaInv > 0"
                    color="success lighten-1"
                    class="text-caption"
                    dark
                    small
                  >
                    <span class="caption">
                      DISPONIBLE {{ item.cantidad - item.cantidadSalidaInv }} {{ item.producto.unidadMedida.sigla }}
                    </span>
                  </v-chip>
                  <v-chip v-else color="error " dark small class="text-caption">
                    <span class="caption">
                      AGOTADO 0 {{ item.producto.unidadMedida.sigla }}
                    </span>
                  </v-chip>
                </template>
                <template v-slot:item.cantidadSalida="{ item }">
                  <v-text-field
                    :disabled="(item.cantidadSalidaInv - item.cantidad >= 0)"
                    v-model.number="item.cantidadSalida"
                    type="number"
                    min="1"
                    :max="(item.cantidad - item.cantidadSalidaInv)"
                    oninput="javascript: if (Number(this.value) >= Number(this.max)) this.value = this.max"
                  >
                  </v-text-field>
                </template>

                <template v-slot:item.producto.unidadMedida.sigla="{item}">
                  {{ item.producto.unidadMedida.sigla }} {{ item.producto.unidadMedida.unidad }} {{ item.producto.categoriaProducto }}
                </template>
                <template v-slot:item.producto.color.color="{item}">
                  <v-avatar
                    size="30"
                    :color="item.producto.color.color"
                    style="border: 1px solid #686868;"
                  ></v-avatar>
                  <code class="text-caption">
                    {{ item.producto.color.descripcion }}
                  </code>
                </template>

                 <template v-slot:item.subTotal="{ item }">
                  <code class="text-caption font-weight-medium secondary--text py-2">
                    {{parseFloat(item.producto.precioUnitarioVenta * item.cantidadSalida).toFixed(2)}} Bs.
                  </code>
                </template>

                </template>
                <template v-slot:item.action="{ item, index }">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        :disabled="(item.totalSalida - item.cantidad >= 0)"
                        small
                        fab
                        color="primary"
                        @click="addDetalleSalidaProducto(item)"
                      >
                        <v-icon small dark>mdi-plus</v-icon>
                      </v-btn>
                    </template>
                  </v-tooltip>
                </template>
              </v-data-table>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions class="d-flex justify-end">
        <v-btn text tile color="error" @click="closeProductDialog">
          Cerrar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <product-detail-modal
    v-model="dialogDetail"
    :defaultItem="detailProduct"
  ></product-detail-modal>
</v-container>
