<v-container fluid>
  <v-card>
    <v-card-title>
      {{ formTitle }}
      <v-spacer></v-spacer>
      <v-card-actions>
        <v-btn text type="button" to="/user-list">Cancelar</v-btn>
        <v-spacer></v-spacer>
        <v-btn
          form="defaultItem"
          type="submit"
          color="success"
          text
          outlined
          tile
          >{{ buttonText }}</v-btn
        >
      </v-card-actions>
    </v-card-title>
    <v-divider></v-divider>
    <v-card-text>
      <v-form id="defaultItem" ref="formUser" @submit.prevent="checkForm">
        <v-row>
          <v-col cols="12" md="6">
            <v-text-field
              :error-messages="nombreErrors"
              @input="$v.defaultItem.nombre.$touch()"
              @blur="$v.defaultItem.nombre.$touch()"
              v-model="defaultItem.nombre"
              label="Nombres"
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
              :error-messages="usernameErrors"
              :counter="10"
              prepend-icon="mdi-account-box"
              @input="$v.defaultItem.username.$touch()"
              @blur="$v.defaultItem.username.$touch()"
              v-model="defaultItem.username"
              label="Nombre de Usuario"
            >
            </v-text-field>
          </v-col>
          <v-col cols="12" md="6">
              <v-text-field
                :error-messages="emailNameErrors"
                prepend-icon="mdi-email-multiple-outline"
                @input="$v.defaultItem.email.$touch()"
                @blur="$v.defaultItem.email.$touch()"
                v-model="defaultItem.email"
                label="Email"
              >
            </v-text-field>
          </v-col>
          <v-col cols="12" md="6">
              <v-text-field
              :error-messages="nroTarjetaErrors"
              @input="$v.defaultItem.nroTarjeta.$touch()"
              @blur="$v.defaultItem.nroTarjeta.$touch()"
              v-model="defaultItem.nroTarjeta"
              prepend-icon="mdi-identifier"
              label="Numero de Tarjeta"
              >
            </v-text-field>
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
              :rules="$route.params.id? passwordRules.passwordEdit: passwordRules.passwordCreate"
              prepend-icon="mdi-lock-open"
              :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
              v-model="password"
              :type="showPassword ? 'text' : 'password'"
              label="Contraseña"
              @click:append="showPassword = !showPassword"
            >
            </v-text-field>
          </v-col>
          <v-col cols="12" md="6">
            <v-switch
              class="ml-4"
              v-model="defaultItem.estado"
              inset
              :label="`Activo : ${defaultItem.estado? 'Sí' : 'No'}`"
            ></v-switch>
          </v-col>
          <v-col cols="12" md="6">
            <span>Roles</span>
            <v-select
              :error-messages="rolesErrors"
              @input="$v.defaultItem.roles.$touch()"
              @blur="$v.defaultItem.roles.$touch()"
              :items="roles"
              v-model="defaultItem.roles"
              prepend-icon="mdi-badge-account-horizontal"
              label="Asignar Roles"
              multiple
              chips
            >
              <template slot="selection" slot-scope="data">
                <v-chip color="primary"
                  >{{data.item.replace("ROLE_","")}}</v-chip
                >
              </template>
              <template v-slot:item="{ active, item, attrs, on }">
                <v-list-item v-on="on" v-bind="attrs" #default="{ active }">
                  <v-list-item-action>
                    <v-checkbox :input-value="active"></v-checkbox>
                  </v-list-item-action>
                  <v-list-item-content>
                    <v-list-item-title>
                      <span class="overline">
                        {{item.replace("ROLE_","")}}
                      </span>
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </template>
            </v-select>
          </v-col>
        </v-row>
      </v-form>
    </v-card-text>
  </v-card>
</v-container>
