<v-app>
  <v-main>
    <v-container class="fill-height" fluid>
      <v-row align="center" justify="center">
        <v-col cols="12" md="8" lg="7">
          <v-card class="elevation-12">
             <v-row>
              <v-col cols="12" md="4" class="py-0 px-md-0 order-2 order-md-1">
                <v-card-title
                  class="white--text d-flex flex-column justify-center align-center primary"
                  style="height: 100%; width: auto;"
                >
                  <v-icon size="80px" color="white" class="d-none d-md-block"
                    >mdi-account</v-icon
                  >
                  <div class="text-center text-h4 d-flex py-8">
                    STORE
                  </div>
                  <div class="text-center text-h6 d-flex pb-5">
                    Volver al inicio de Sesion
                  </div>
                  <v-btn rounded dark outlined right to="/login">
                    <v-icon small left color="white">mdi-login</v-icon>
                    Ir a Login
                  </v-btn>
                </v-card-title>
              </v-col>
               <v-col cols="12" md="8" class="order-1 order-md-2">
                 <v-card-text class="mt-12">
                   <h1 class="text-center display-1 primary--text text--accent-3">Nueva Contraseña!</h1>
                   <h4 class="text-center mt-3">Escriba y verifique su contraseña</h4>
                   <v-form ref="defaultItem" id="defaultItem" name="defaultItem" @submit.prevent="checkForm">
                     <v-text-field
                       v-model.trim="defaultItem.newPassword"
                       :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                       label="Nueva Contraseña"
                       name="Password"
                       prepend-icon="mdi-lock"
                       :type="showPassword ? 'text' : 'password'"
                       color="primary accent-3"
                       @click:append="showPassword = !showPassword"
                       autocomplete="off"
                       :error-messages="newPasswordErrors"
                       @input="$v.defaultItem.newPassword.$touch()"
                       @blur="$v.defaultItem.newPassword.$touch()"
                       clearable
                       required
                     />
                     <v-text-field
                       v-model.trim="defaultItem.repeatNewPassword"
                       label="Repetir Contraseña"
                       name="NewPassword"
                       prepend-icon="mdi-lock"
                       :type="showPassword ? 'text' : 'password'"
                       color="primary accent-3"
                       @click:append="showPassword = !showPassword"
                       :error-messages="repeatNewPasswordErrors"
                       @input="$v.defaultItem.repeatNewPassword.$touch()"
                       @blur="$v.defaultItem.repeatNewPassword.$touch()"
                       autocomplete="off"
                       clearable
                       required
                     />
                   </v-form>
                   <div class="text-center mt-4">
                     <v-btn
                       form="defaultItem"
                       type="submit"
                       rounded dark
                       color="primary accent-3"
                     >Restablecer</v-btn>
                   </div>
                 </v-card-text>
               </v-col>
             </v-row>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-main>
</v-app>
