<v-dialog
  @click:outside="dialogEvent"
  :value="value"
  @input="dialogEvent"
  :productId="productId"
  :defaultImage="defaultImage"
  max-width="450px"
>
  <v-card>
    <v-card-title class="primary lighten-1 white--text">
      <span class="headline">{{ formTitle }} </span>
      <v-spacer></v-spacer>
      <v-btn color="white" icon @click="dialogEvent">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-card-title>
    <v-divider></v-divider>
    <v-card-text class="mt-5">
      <v-form id="defaultIt" @submit.prevent="checkForm">
        <v-row>
          <v-col cols="12" md="12">
            <v-hover>
              <v-card class="mx-auto">
                <v-img v-if="avatar.imageURL !== null" 
                  :src="avatar.imageURL"
                  aspect-ratio="1"
                />
                <v-img v-else
                src="../../../../../assets/default.png"
                  aspect-ratio="1"
                />
                  <!--template v-slot:placeholder>
                    <v-row
                      class="fill-height ma-0 text-overline"
                      align="center"
                      justify="center"
                    >
                      Nuevas Imagenes
                    </v-row>
                  </template-->
                </v-img>
              </v-card>
            </v-hover>
          </v-col>
        </v-row>
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <div v-if="!avatar.imageFile">
        <v-btn v-if="avatar.imageURL !== null"
          text
          outlined
          color="primary darken-1"
          @click="launchFilePicker()"
        >
          Cambiar Imagen
        </v-btn>
        <v-btn v-else
          text
          outlined
          color="primary darken-1"
          @click="launchFilePicker()"
        >
          Subir Imagen
        </v-btn>
        <input
          :value="imageUrl"
          type="file"
          ref="file"
          accept="image/x-png,image/jpeg,image/jpg"
          :name="uploadFieldName"
          @input="onFileChange($event.target.name, $event.target.files)"
          style="display:none"
        >
      </div>
      <div v-else>
        <v-btn
          color="primary darken-1"
          text outlined
          form="defaultIt"
          type="submit">
          Guardar
        </v-btn>
      </div>
    </v-card-actions>
  </v-card>
  <v-dialog v-model="errorDialog" max-width="300">
    <v-card>
      <v-card-text class="subheading dialog-center">{{errorText}}</v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn @click="closeDialog">Cerrar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</v-dialog>
