<v-container fluid>
  <!-- Data Table end -->
  <v-row>
    <v-col cols="12">
      <v-card>
        <v-card-title>
          <v-avatar size="48" color="info"
            ><v-icon large color="white">mdi-account-multiple</v-icon>
          </v-avatar>
          <span class="headline ml-2 info--text"
            >Lista de <code>Usuarios</code></span
          >
          <v-spacer></v-spacer>
          <v-card-actions>
            <v-btn to="/create-user" type="button" color="success" dark tile>
              <v-icon left>
                mdi-plus
              </v-icon>
              Nuevo
            </v-btn>
          </v-card-actions>
        </v-card-title>
        <v-card-text class="layout">
          <v-text-field
            :value="search"
            prepend-icon="search"
            placeholder="Buscar"
            label="Buscar"
            hide-details
            @input="searchByKeywordBySucursal($event)"
          ></v-text-field>
          <v-btn icon> <v-icon>filter_list</v-icon> </v-btn>
        </v-card-text>
        <v-data-table
          :headers="complex.headers"
          :items="complex.items"
          :items-per-page.sync="elementsPerPage"
          :server-items-length="pagination.totalElements"
          :page.sync="page"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          :search="search"
          :loading="loading"
          class="elevation-1"
          :footer-props="{
              itemsPerPageOptions: [5,10,20,50]
          }"
        >
          <template v-slot:item.#="{ index }">
            <p class="body-2 font-weight-bold mt-4">
              {{((page-1)*elementsPerPage)+index+1}}
            </p>
          </template>
          <template v-slot:item.imagen="{ item }">
            <v-avatar class="ma-3">
              <img
                v-if="item.logo1"
                :src="'data:' + item.logo1ContentType + ';base64,' + item.logo1"
                alt="img"
              />
              <img
                v-else="item.logo1"
                src="../../../assets/person_avatar.png"
                alt="alt"
              />
            </v-avatar>
          </template>
          <template
            v-slot:item.authorities="{ item }"
            class="d-flex justify-center flex-nowrap"
          >
            <span v-for="(rol,index) of item.authorities" :key="index">
              <v-chip
                small
                color="teal darken-1"
                style="font-size: 10px; margin: 1px;"
                class="white--text"
                >{{rol.replace("ROLE_","")}}</v-chip
              >
            </span>
          </template>
          <template v-slot:item.action="{ item }">
            <v-menu>
              <template v-slot:activator="{ on: menu }">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on: tooltip }">
                    <v-btn icon v-on="{ ...menu }">
                      <v-icon>mdi-dots-vertical</v-icon>
                    </v-btn>
                  </template>
                </v-tooltip>
              </template>
              <v-list class="pa-0" dense>
                <v-list-item
                  v-for="action in actions"
                  :key="action.text"
                  @click="openModal(item, $event)"
                >
                  <v-list-item-icon class="mr-2">
                    <v-icon small>{{ action.icon }}</v-icon>
                  </v-list-item-icon>
                  <v-list-item-title>{{ action.text }}</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </template>
          <template v-slot:no-data>
            <v-alert
              class="mt-4"
              :value="true"
              icon="warning"
              dense
              outlined
              type="error"
            >
              El usuario que busca no existe...
            </v-alert>
          </template>
        </v-data-table>
      </v-card>
    </v-col>
  </v-row>
  <!-- <v-dialog v-model=" errorUser " max-width="340">
    <v-card>
      <v-card-title class="text-h5 justify-center mb-1">
        <v-icon size="60" color="red" class="mr-1">
          mdi-account-cancel
        </v-icon>
        <div>
          Error al eliminar!!!
        </div>
      </v-card-title>
      <v-card-text class="ml-6">
        <v-icon>
          mdi-alert
        </v-icon>
        El usuario tiene una session activa
      </v-card-text>
      <v-card-actions class="justify-center">
        <v-btn text color="success" @click="errorUser = false">
          Cerrar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog> -->
  <!-- <v-dialog v-model=" errorExist " max-width="340">
    <v-card>
      <v-card-title class="text-h5 justify-center mb-1">
        <v-icon size="60" color="red" class="mr-1">
          mdi-account-cancel
        </v-icon>
        <div>
          Error al eliminar!!!
        </div>
      </v-card-title>
      <v-card-text class="ml-6">
        <v-icon>
          mdi-alert
        </v-icon>
        El usuario tiene asignada una caja
      </v-card-text>
      <v-card-actions class="justify-center">
        <v-btn text color="success" @click="errorExist = false">
          Cerrar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog> -->
  <delete-modal
    v-model="dialogDelete"
    :defaultItem="defaultItem"
    :deleteFunc="deleteFunc"
    :mensaje="mensaje"
  ></delete-modal>
  <detail-user-modal
    v-model="dialog"
    :defaultItem="defaultItem"
  ></detail-user-modal>
</v-container>
