<v-container fluid>
  <v-card>
    <v-card-title>
      {{ formTitle }}
    </v-card-title>
    <v-divider></v-divider>
    <v-stepper v-model="e1" vertical>
      <v-stepper-step :complete="e1 > 1" step="1" :editable="isEditingStep">
        Informacion del Producto
      </v-stepper-step>
      <v-stepper-content step="1">
        <v-card-text class="mb-10">
          <v-form ref="formProduct" lazy-validation>
            <v-row>
              <v-col cols="12" md="6">
                <v-text-field
                  :rules="rules.productos.nombre"
                  prepend-icon="mdi-dropbox"
                  v-model.trim="defaultItem.nombre"
                  label="Nombre de Producto"
                  v-uppercase
                >
                </v-text-field>
              </v-col>
              <v-col cols="12" md="6">
                <v-text-field
                  prepend-icon="mdi-data-matrix-plus"
                  v-model="defaultItem.codigo"
                  label="Codigo de Producto Autogenerado"
                  :disabled="true"
                >
                </v-text-field>
              </v-col>
              <v-col cols="12" md="6">
                <v-select
                  :rules="rules.productos.categoriaId"
                  :items="categorias"
                  v-model="defaultItem.categoriaId"
                  item-text="id"
                  prepend-icon="mdi-shopping"
                  label="Selecciona la categoria del producto"
                  chips
                >
                  <template slot="selection" slot-scope="data">
                    {{ getCategoria(data.item.nombre) }}
                  </template>
                  <template slot="item" slot-scope="data">
                    <div class="d-flex justify-space-around">
                      <span>{{ data.item.nombre }}</span>
                    </div>
                  </template>
                </v-select>
              </v-col>
              <v-col cols="12" md="6">
                <v-select
                  :rules="rules.productos.etiquetaId"
                  :items="etiquetas"
                  v-model="defaultItem.etiquetaId"
                  item-text="id"
                  prepend-icon="mdi-shopping"
                  label="Selecciona la etiqueta del producto"
                  chips
                >
                  <template slot="selection" slot-scope="data">
                    {{data.item.nombre}}
                  </template>
                  <template slot="item" slot-scope="data">
                    <div class="d-flex justify-space-around">
                      <span>{{ data.item.nombre }}</span>
                    </div>
                  </template>
                </v-select>
              </v-col>
            </v-row>
          </v-form>
          <v-form ref="formComic" lazy-validation>
            <v-row>
              <v-col cols="12" md="12" v-if="currentCategoria === 'COMICS'">
                <v-card-title>
                  COMIC
                </v-card-title>
                <v-row>
                  <v-col cols="12" md="4">
                    <v-text-field
                      :rules="rules.comics.titulo"
                      v-model.trim="defaultItem.titulo"
                      label="Titulo Comic"
                      v-uppercase
                      
                      prepend-icon="mdi-ticket"
                    >
                    </v-text-field>
                  </v-col>
                  <v-col cols="12" md="4">
                    <v-select
                      :rules="rules.comics.genero"
                      v-model="defaultItem.genero"
                      :items="generos"
                      prepend-icon="mdi-ticket"
                      label="Genero:"
                      chips
                    >
                    </v-select>
                  </v-col>
                  <v-col cols="12" md="4">
                    <v-text-field
                      :rules="rules.comics.volumen"
                      v-model.number="defaultItem.volumen"
                      label="Volumen de Comic"
                      type="number"
                      prepend-icon="mdi-ticket"
                    >
                    </v-text-field>
                  </v-col>
                  <v-col cols="12" md="4">
                    <v-text-field
                      :rules="rules.comics.anioLanzamiento"
                      v-model.number="defaultItem.anioLanzamiento"
                      label="Anio de Lanzamiento"
                      type="number"
                      prepend-icon="mdi-ticket"
                    >
                    </v-text-field>
                  </v-col>
                  <v-col cols="12" md="4">
                    <v-select
                      :rules="rules.comics.idioma"
                      v-model="defaultItem.idioma"
                      :items="idiomas"
                      prepend-icon="mdi-ticket"
                      label="Idioma:"
                      chips
                    >
                    </v-select>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-form>
          <v-form ref="formCamiseta" lazy-validation>
            <v-row>
              <v-col cols="12" md="12" v-if="currentCategoria === 'CAMISETA'">
                <v-card-title>
                  CAMISETA
                </v-card-title>
                <v-row>
                  <v-col cols="12" md="3">
                    <v-select
                      :rules="rules.camisetas.sexo"
                      v-model="defaultItem.sexo"
                      :items="sexo"
                      prepend-icon="mdi-ticket"
                      label="Genero:"
                      chips
                    >
                    </v-select>
                  </v-col>
                  <v-col cols="12" md="3">
                    <v-select
                      :rules="rules.camisetas.tallaId"
                      :items="tallas"
                      v-model="defaultItem.tallaId"
                      item-text="id"
                      prepend-icon="mdi-shopping"
                      label="Selecciona la talla del producto"
                      chips
                    >
                      <template slot="selection" slot-scope="data">
                        {{data.item.talla}}
                      </template>
                      <template slot="item" slot-scope="data">
                        <div class="d-flex justify-space-around">
                          <span>{{ data.item.talla }}</span>
                        </div>
                      </template>
                    </v-select>
                  </v-col>
                  <v-col cols="12" md="6">
                    <v-select
                      :rules="rules.camisetas.colorId"
                      v-model="defaultItem.colorId"
                      :items="colors"
                      attach
                      chips
                      prepend-icon="mdi-format-color-fill"
                      label="Color :"
                      hint="Descripcion de Color / Codigo / Color RGBA"
                      item-text="id"
                      item-value="id"
                      item-color="primary"
                      persistent-hint
                    > 
                      <!-- :menu-props="{ bottom: true, offsetY: true }" -->
                      <template v-slot:prepend-item>
                        <v-list-item>
                          <v-list-item-content
                            style="margin-bottom: -15px !important;"
                          >
                            <v-text-field
                              color="primary--text"
                              v-model="searchTerm"
                              placeholder="Search"
                              @input="searchColors"
                              outlined
                            >
                            </v-text-field>
                          </v-list-item-content>
                        </v-list-item>
                      </template>
                      <template v-slot:selection="{ item, index }">
                        <!-- <code class="ml-2 mr-2">{{item.nombre}}</code> -->
                        <code class="info--text mr-1">{{item.codigo||'---'}}</code>
                        <v-chip text-color="white" color="primary" small
                          >{{item.nombre}}</v-chip
                        >
                      </template>
                      <template v-slot:item="{ active, item, attrs, on }">
                        <v-list-item v-on="on" v-bind="attrs" #default="{ active }">
                          <v-list-item-action>
                            <v-checkbox :input-value="active"></v-checkbox>
                          </v-list-item-action>
                          <v-list-item-content>
                            <v-list-item-title>
                              <v-row
                                no-gutters
                                class="d-flex justify-space-between align-center"
                              >
                                <!-- <span class="text-uppercase text-overline">
                                  {{ item.descripcion }}
                                </span> -->
                                <code class="info--text">{{item.codigo||'---'}}</code>
                                <v-chip
                                label
                                class="white--text"
                                color="primary"
                                small
                                >{{item.nombre||'---'}}</v-chip
                                >
                              </v-row>
                            </v-list-item-title>
                          </v-list-item-content>
                        </v-list-item>
                      </template>
                    </v-select>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-form>
          <v-row class="mt-8">
            <v-col cols="12" md="6">
              <v-textarea
                v-model.trim="defaultItem.descripcion"
                name="input-7-4"
                label="Descripcion Del Producto"
                counter="100"
                rows="3"
                hint="Escribe las caracteristicas del producto"
                persistent-hint
                prepend-icon="mdi-format-color-highlight"
                v-uppercase
              ></v-textarea>
            </v-col>
          </v-row>
        </v-card-text>
      </v-stepper-content>
      <v-stepper-step :complete="e1 > 2" step="2" :editable="isEditingStep">
        Imagenes del Producto
      </v-stepper-step>
      <v-stepper-content step="2">
        <v-card-title>
          Imagenes del Producto
        </v-card-title>
        <v-row>
          <v-col class="d-flex child-flex" cols="4">
            <v-hover>
              <template v-slot:default="{ hover }">
                <v-img aspect-ratio="1" class="grey lighten-2" hover>
                  <template v-slot:placeholder>
                    <v-row
                      class="fill-height ma-0"
                      align="center"
                      justify="center"
                    >
                    </v-row>
                  </template>
                  <v-fade-transition>
                    <v-overlay absolute color="#036358" value="hoverC">
                      <v-btn
                        @click="openModalUploadImage(null)"
                        color="#e8eaf6"
                        class="d-none d-md-flex"
                        d-none
                        d-md-flex
                      >
                        <span class="primary--text">
                          Subir nueva Imagen
                        </span>
                        <v-icon large color="primary darken-2">
                          mdi-plus
                        </v-icon>
                      </v-btn>
                      <v-btn
                        @click="openModalUploadImage(null)"
                        fab
                        style="background-color:#6c1c8c ;"
                        class="d-md-none d-sm-flex d-xs-flex"
                        d-md-none
                        d-sm-flex
                        d-xs-flex
                      >
                        <v-icon>
                          mdi-image-plus
                        </v-icon>
                      </v-btn>
                    </v-overlay>
                  </v-fade-transition>
                </v-img>
              </template>
            </v-hover>
          </v-col>
          <v-col
            v-for="item in images"
            :key="item.id"
            class="d-flex child-flex"
            cols="4"
          >
            <v-hover>
              <template v-slot:default="{ hover }">
                <v-img
                  :src="serverUrl + item.url"
                  :lazy-src="`https://picsum.photos/10/6?image=${1 * 5 + 10}`"
                  aspect-ratio="1"
                  class="grey lighten-2"
                >
                  <template v-slot:placeholder>
                    <v-row
                      class="fill-height ma-0"
                      align="center"
                      justify="center"
                    >
                      <v-progress-circular
                        indeterminate
                        color="grey lighten-5"
                      ></v-progress-circular>
                    </v-row>
                  </template>
                  <v-fade-transition>
                    <v-overlay v-if="hover" absolute color="#036358">
                      <!-- <v-btn
                        small
                        fab
                        class="mr-2"
                        color="#e8eaf6"
                        @click="openModalUploadImage(item)"
                      >
                        <v-icon color="primary darken-2">
                          mdi-pencil
                        </v-icon>
                      </v-btn> -->
                      <v-btn
                        small
                        fab
                        color="#e8eaf6"
                        @click="openModalDeleteImage(item)"
                      >
                        <v-icon color="primary darken-2">
                          mdi-delete
                        </v-icon>
                      </v-btn>
                    </v-overlay>
                  </v-fade-transition>
                </v-img>
              </template>
            </v-hover>
          </v-col>
        </v-row>
      </v-stepper-content>
    </v-stepper>
    <v-card-actions class="d-flex justify-end pa-5">
      <v-btn text tile color="error" type="button" to="/lista-de-productos"
        >{{e1===1?'Cancelar':'Salir'}}</v-btn
      >
      <v-btn
        v-if="this.$route.params.id || e1>1"
        :disabled="e1 === 3"
        text
        tile
        color="info"
        type="button"
        @click="e1++"
        >Omitir</v-btn
      >
      <v-btn
        v-if="e1 > 1"
        :disabled="!this.$route.params.id"
        text
        tile
        type="button"
        @click="e1--"
      >
        <v-icon left>mdi-arrow-left</v-icon>
        Volver</v-btn
      >
      <v-btn
        :loading="isLoading"
        :disabled="isLoading"
        @click="checkForm"
        :outlined="e1!==3"
        color="success"
        tile
      >
        {{ buttonText }}
        <v-icon v-if="e1===3" right>mdi-check</v-icon>
        <v-icon v-else right>mdi-arrow-right</v-icon>
      </v-btn>
    </v-card-actions>
  </v-card>
  <delete-modal
    v-model="dialogDelete"
    :defaultItem="defaultImage"
    :deleteFunc="deleteFunc"
    :mensaje="message"
  ></delete-modal>
  <image-modal
    v-model="dialog"
    :productId="productId1"
    :defaultImage="defaultImage"
    :reloadFunc="findAllImages"
  ></image-modal>
</v-container>
