<v-container fluid>
  <v-row>
    <v-col>
      <v-card>
        <v-card-title>
          <div>
            <span class="headline info--text font-weight-bold">
              Detalle Inventario Producto
            </span>
            <p>
              <v-chip small outlined color="orange" class="white--text body-2">
                <v-icon left> mdi-dropbox </v-icon>Producto
              </v-chip>
            </p>
          </div>
        </v-card-title>
        <v-card-text>
          <v-row>
            <v-col cols="12" md="6">
              <v-card class="mx-auto" max-width="500">
                <v-carousel
                  v-if="defaultItem.imageUrl"
                  class="white--text align-end styleImg"
                >
                  <v-carousel-item
                    v-for="(item,i) in images"
                    :key="i"
                    :src="base + item.url"
                    reverse-transition="fade-transition"
                    transition="fade-transition"
                  >
                  </v-carousel-item>
                </v-carousel>
                <v-img
                  v-else
                  class="white--text align-end styleImg"
                  height="400px"
                  src="../../../../assets/producto.png"
                  contain
                >
                </v-img>
                <v-card-title
                  class="headline orange lighten-1 white--text d-flex justify-center"
                >
                  {{defaultItem.nombre}}
                </v-card-title>
                <v-card-subtitle class="mt-5 text-center">
                  Numero de fotos: {{images.length}}
                </v-card-subtitle>
                <v-divider></v-divider>
                <v-card-text class="text--primary">
                  <div>
                    Colores Disponibles :
                    <!--span v-for="colorx in defaultItem.colors">
                      {{colorx.descripcion}}
                    </span-->
                    <v-chip
                      label
                      small
                      v-for="(colorx,index) in defaultItem.colors"
                      :color="colorx.color"
                      class="white--text"
                      :key="index"
                      >{{colorx.descripcion}}</v-chip
                    >
                  </div>
                </v-card-text>
              </v-card>
            </v-col>
            <v-col cols="12" md="6">
              <div>
                <p class="headline mb-2 pt-2 ml-2">
                  Stock/Cantidad
                  <v-spacer></v-spacer>
                  <span>
                    {{defaultItem.stockTotal }}
                  </span>
                  <span class="headline">Unidades</span>
                </p>
                <p class="headline mb-2 pt-2 ml-2 info--text">
                  Costo Unitario Produccion
                  <v-spacer></v-spacer>
                  <span>
                    {{defaultItem.costoUnitario}}
                  </span>
                  <span>$.</span>
                </p>
                <p class="headline mb-2 pt-2 ml-2 orange--text">
                  Precio de Venta
                  <v-spacer></v-spacer>
                  <span>
                    {{defaultItem.precioUnitario}}
                  </span>
                  <span>$.</span>
                </p>
                <p class="headline mb-2 pt-2 ml-2 green--text">
                  Talla
                  <v-spacer></v-spacer>
                  <span v-for="itemx in defaultItem.tallas">
                    {{itemx.numeroTalla}} -
                  </span>
                </p>
                <p class="headline mb-2 pt-2 ml-2 indigo--text">
                  Tipo de prenda
                  <v-spacer></v-spacer>
                  <span v-for="itemx in defaultItem.tipoPrendas">
                    {{itemx.nombre}} -
                  </span>
                </p>
                <v-divider color="gray"></v-divider>
                <p class="d-flex headline mb-2 pt-2 ml-2 info--text">
                  REINICIAR STOCK: {{defaultItem.stockTotal}}
                  <v-spacer></v-spacer>
                  <v-btn
                    color="red"
                    class="white--text"
                    @click="reiniciarStock()"
                  >
                    Reiniciar
                    <v-icon right dark>
                      mdi-update
                    </v-icon>
                  </v-btn>
                </p>
              </div>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
      <v-divider color="gray" class="my-5"></v-divider>
      <v-card class="mt-5">
        <v-card-title class="d-flex justify-center mb-3">
          <span class="headline info--text font-weight-bold">
            Historial Movimiento de Inventario
            <span class="orange--text"> - {{ defaultItem.nombre }}</span>
          </span>
        </v-card-title>
        <v-card-text>
          <v-row>
            <v-col cols="12" md="6">
              <v-form @submit.prevent="searchByDateIdE">
                <v-row>
                  <v-col cols="5" md="5">
                    <v-menu
                      v-model="menu"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="auto"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="startDate"
                          label="Fecha inicio"
                          prepend-icon="mdi-calendar"
                          readonly
                          v-bind="attrs"
                          v-on="on"
                          hide-details
                          clearable
                          @click:clear="getDEProductById"
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        v-model="startDate"
                        @input="menu = false"
                      ></v-date-picker>
                    </v-menu>
                  </v-col>
                  <v-col cols="5" md="5">
                    <v-menu
                      v-model="menu2"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="auto"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="endDate"
                          label="Fecha fin"
                          prepend-icon="mdi-calendar"
                          readonly
                          v-bind="attrs"
                          v-on="on"
                          hide-details
                          clearable
                          @click:clear="getDEProductById"
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        v-model="endDate"
                        @input="menu2 = false"
                      ></v-date-picker>
                    </v-menu>
                  </v-col>
                  <v-col md="2" cols="2" justify-center>
                    <v-btn
                      class="mt-3"
                      fab
                      dark
                      small
                      color="info darken-4"
                      type="submit"
                    >
                      <v-icon dark>
                        mdi-magnify
                      </v-icon>
                    </v-btn>
                  </v-col>
                </v-row>
              </v-form>
              <v-divider class="mt-3"></v-divider>
              <!-- init table entrada -->
              <v-data-table
                :headers="basicEntrada.headers"
                :items="basicEntrada.items"
                :items-per-page.sync="elementsPerPage"
                :server-items-length="pagination.totalElements"
                :page.sync="page"
                :sort-by.sync="sortBy"
                :sort-desc.sync="sortDesc"
                :search="search"
                :loading="loading"
                class="elevation-1"
                :footer-props="{
                                    itemsPerPageOptions: [5,10,20,50]
                                  }"
              >
                <template v-slot:item.fecha="{ item }">
                  <p>{{ fechaTo(item.createdDate) }}</p>
                </template>
                <template v-slot:item.hora="{ item }">
                  <p>{{ horaTo(item.createdDate) + " hrs." }}</p>
                </template>
                <template v-slot:item.cantidadX="{ item }">
                  <v-chip color="info" text-color="white">
                    <v-icon class="mr-3 ml-1" size="24">
                      mdi-arrow-up-bold-circle-outline
                    </v-icon>
                    {{ item.cantidad }}
                  </v-chip>
                </template>
                <template v-slot:item.costoUnitarioX="{ item }">
                  <p class="success--text">
                    {{ item.costoUnitario }}<span> $.</span>
                  </p>
                </template>
                <template v-slot:item.actions="{ item }">
                  <v-icon small class="mr-2" @click="OpenModalE(item)"
                    >mdi-eye</v-icon
                  >
                </template>
              </v-data-table>
              <!-- init table entrada -->
            </v-col>
            <v-col cols="12" md="6">
              <v-form @submit.prevent="searchByDateIdV">
                <v-row>
                  <v-col cols="5" md="5">
                    <v-menu
                      v-model="menuV"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="auto"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="startDateV"
                          label="Fecha inicio"
                          prepend-icon="mdi-calendar"
                          readonly
                          v-bind="attrs"
                          v-on="on"
                          hide-details
                          clearable
                          @click:clear="getEVProductoById"
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        v-model="startDateV"
                        @input="menuV = false"
                      ></v-date-picker>
                    </v-menu>
                  </v-col>
                  <v-col cols="5" md="5">
                    <v-menu
                      v-model="menu2V"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="auto"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="endDateV"
                          label="Fecha fin"
                          prepend-icon="mdi-calendar"
                          readonly
                          v-bind="attrs"
                          v-on="on"
                          hide-details
                          clearable
                          @click:clear="getEVProductoById"
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        v-model="endDateV"
                        @input="menu2V = false"
                      ></v-date-picker>
                    </v-menu>
                  </v-col>
                  <v-col md="2" cols="2" justify-center>
                    <v-btn
                      class="mt-3"
                      fab
                      dark
                      small
                      color="info darken-4"
                      type="submit"
                    >
                      <v-icon dark>
                        mdi-magnify
                      </v-icon>
                    </v-btn>
                  </v-col>
                </v-row>
              </v-form>
              <v-divider class="mt-3"></v-divider>
              <!-- init table venta -->
              <v-data-table
                :headers="basicVenta.headers"
                :items="basicVenta.items"
                :items-per-page.sync="elementsPerPageV"
                :server-items-length="paginationV.totalElements"
                :page.sync="pageV"
                :sort-by.sync="sortByV"
                :sort-desc.sync="sortDescV"
                :search="searchV"
                :loading="loadingV"
                class="elevation-1"
                :footer-props="{
                                  itemsPerPageOptions: [5,10,20,50]
                                }"
              >
                <template v-slot:item.fecha="{ item }">
                  <p>{{ fechaTo(item.createdDate) }}</p>
                </template>
                <template v-slot:item.hora="{ item }">
                  <p>{{ horaTo(item.createdDate) + " hrs." }}</p>
                </template>
                <template v-slot:item.cantidadX="{ item }">
                  <v-chip color="red" text-color="white">
                    <v-icon class="mr-3 ml-1" size="24">
                      mdi-arrow-down-bold-circle-outline
                    </v-icon>
                    {{ item.cantidad }}
                  </v-chip>
                </template>
                <template v-slot:item.costoUnitarioX="{ item }">
                  <p v-if="item.costoUnitario" class="success--text">
                    {{ item.costoUnitario }} <span>$.</span>
                  </p>
                  <p v-else class="red--text">Retiro Simple</p>
                </template>
                <template v-slot:item.precioUnitarioX="{ item }">
                  <p v-if="item.costoUnitario" class="success--text">
                    {{ item.precioUnitario }} <span>$.</span>
                  </p>
                  <p v-else class="red--text">Retiro Simple</p>
                </template>
                <template v-slot:item.actions="{ item }">
                  <v-icon small class="mr-2" @click="OpenModalV(item)"
                    >mdi-eye</v-icon
                  >
                </template>
              </v-data-table>
              <!-- init table venta -->
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
  <detail-mov-modal
    v-model="dialogE"
    :defaultItem="defaultItemE"
  ></detail-mov-modal>
  <detail-mov-ve-modal
    v-model="dialogV"
    :defaultItem="defaultItemV"
  ></detail-mov-ve-modal>
</v-container>
