<v-card
    tile
    elevation="5"
>
    <v-card-text class="pa-0">
        <div class="d-flex">
            <div class1="flex pa-3">
                <div class="layout justify-center align-center pt-2">
                    <v-icon size="72px" class="pa-2">{{icon}}</v-icon>
                </div>
            </div>
            <div class="flex pa-3" :class="color">
                <div class="white--text headline">{{title}}</div>
                <span class="white--text headline">{{subTitle}}</span>
            </div>
        </div>
    </v-card-text>
</v-card>
