<v-dialog
  @click:outside="dialogEvent"
  :value="value"
  @input="dialogEvent"
  :editItem="editItem"
  max-width="500px"
  transition="dialog-transition"
>
  <v-card>
    <v-card-title class="primary lighten-1 white--text">
      <span class="headline"> {{ formTitle }} </span>
      <v-spacer></v-spacer>
      <v-btn color="white" icon @click="dialogEvent">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-card-title>
    <v-divider></v-divider>
    <v-card-text class="mt-5">
      <v-form id="defaultItem" @submit.prevent="checkForm">
        <v-row>
          <v-col cols="12">
            <v-text-field
              :error-messages="nombreErrors"
              @input="$v.defaultItem.nombre.$touch()"
              @blur="$v.defaultItem.nombre.$touch()"
              v-model="defaultItem.nombre"
              label="Nombre"
              prepend-icon="mdi-format-color-fill"
            >
            </v-text-field>
          </v-col>
        </v-row>
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
        :loading="isLoading"
        :disabled="isLoading"
        color="primary darken-1"
        text
        outlined
        form="defaultItem"
        type="submit"
        >Guardar</v-btn
      >
    </v-card-actions>
  </v-card>
</v-dialog>
