<v-dialog
  @click:outside="dialogEvent"
  :value="value"
  @input="dialogEvent"
  :defaultItem="defaultItem"
  max-width="500px"
  transition="dialog-transition"
>
  <v-card>
    <v-card-title class="grey darken-1 white--text">
      <span class="headline">Detalle Usuario</span>
      <v-spacer></v-spacer>
      <v-btn color="white" icon @click="dialogEvent">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-card-title>
    <v-divider></v-divider>
    <v-card-text class="mt-4">
      <v-row>
        <v-col cols="12">
          <v-list dense>
            <v-list-item v-for="(item, index) in arrayItems" :key="index">
              <v-icon color="primary">{{item.icon}}</v-icon>
              <v-list-item-content
                v-if='item.name != "Imagen"'
                class="ml-3 subtitle-1 primary--text"
                >{{ item.name }} :</v-list-item-content
              >
              <v-list-item-content
                v-if='item.info != "nothing" && item.name != "Imagen"'
              >
                {{ item.info ? item.info : ' - ' }}
              </v-list-item-content>
              <v-list-item-content v-if='item.name === "Roles"'>
                <span v-for="itemx in defaultItem.authorities">
                  {{ itemx.substr(5,item.leght) }}
                </span>
              </v-list-item-content>
              <v-list-item-content v-if='item.name === "Imagen"'>
                <img v-if="item.info" :src="'data:' + item.type + ';base64,' + item.info" alt="img" />
                <img
                  v-else="item.info"
                  width="40px"
                  height="400px"
                  src="../../../../assets/person_avatar.png"
                  alt="alt"
                />
              </v-list-item-content>
            </v-list-item>
            <v-divider></v-divider>
          </v-list>
        </v-col>
      </v-row>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="blue darken-1" text @click="dialogEvent">Volver</v-btn>
    </v-card-actions>
  </v-card>
</v-dialog>
