<template>
  <v-app>
    <dashboard-nav-bar></dashboard-nav-bar>
    <dashboard-side-bar></dashboard-side-bar>
    <dashboard-view></dashboard-view>
  </v-app>
</template>
<script>
export default{
  name:'AdminDashboard',
  components:{
    DashboardSideBar: () => import('./admin-layout/sidebar'),
    DashboardNavBar: () => import('./admin-layout/navbar'),
    DashboardView: () => import('./admin-layout/view')
  }
}
</script>