<v-container fluid>
  <!-- Data Table end -->
  <v-row>
    <v-col cols="12">
      <v-card>
        <v-card-title>
          <v-avatar size="48" color="info"
            ><v-icon large color="white">mdi-dresser</v-icon>
          </v-avatar>
          <span class="headline ml-2 info--text">
            Lista de <code>Productos</code> </span
          >
          <v-spacer></v-spacer>
          <v-card-actions>
            <v-btn to="/crear-producto" type="button" color="success" dark tile>
              <v-icon>mdi-plus</v-icon>
              NUEVO
            </v-btn>
          </v-card-actions>
        </v-card-title>
        <v-card-text class="layout">
          <v-text-field
            :value="search"
            prepend-icon="search"
            placeholder="Buscar"
            label="Buscar"
            hide-details
            @input="searchByKeyword($event)"
          ></v-text-field>
          <v-btn icon> <v-icon>filter_list</v-icon> </v-btn>
        </v-card-text>
        <v-data-table
          :headers="complex.headers"
          :items="complex.items"
          :items-per-page.sync="elementsPerPage"
          :server-items-length="pagination.totalElements"
          :page.sync="page"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          :search="search"
          :loading="loading"
          class="elevation-1"
          :footer-props="{
              itemsPerPageOptions: [5,10,20,50]
          }"
        >
          <template v-slot:item.#="{ index }">
            <p class="body-2 font-weight-bold mt-4">
              {{((page-1)*elementsPerPage)+index+1}}
            </p>
          </template>
          <template v-slot:item.estado="{ item }">
            <v-icon v-if="item.estado" color="success">mdi-check-circle</v-icon>
            <v-icon v-else>mdi-radiobox-blank</v-icon>
          </template>
          <template v-slot:item.color="{item}">
            <span class="d-flex flex-column align-center">
            <v-avatar
              size="30"
              :color="item.color.color"
              style="border: 1px solid #686868;"
            ></v-avatar>
            <code class="text-caption my-1">
              {{ item.color.descripcion }}
            </code>
          </span>
          </template>
          <template v-slot:item.marca.nombre="{item}">
            <code class="text-caption">
              {{ item.marca.nombre }}
            </code>
          </template>
          <template v-slot:item.imageUrl="{ item }">
            <v-avatar class="ma-3">
              <img
                v-if="item.imageUrl"
                :src="base + item.imageUrl"
                alt="producto"
                style="object-fit: contain;"
              />
              <img
                v-else="item.imageUrl"
                src="../../../assets/producto.png"
                alt="producto"
                style="object-fit: contain;"
              />
            </v-avatar>
          </template>
          <template v-slot:item.action="{ item }">
            <v-menu>
              <template v-slot:activator="{ on: menu }">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on: tooltip }">
                    <v-btn icon v-on="{ ...menu }">
                      <v-icon>mdi-dots-vertical</v-icon>
                    </v-btn>
                  </template>
                </v-tooltip>
              </template>
              <v-list class="pa-0" dense>
                <v-list-item
                  v-for="action in actions"
                  :key="action.text"
                  @click="openModal(item, $event)"
                  :id="action.text"
                >
                  <v-list-item-icon :id="action.text" class="mr-2">
                    <v-icon :id="action.text" small>{{ action.icon }}</v-icon>
                  </v-list-item-icon>
                  <v-list-item-title :id="action.text">{{ action.text }}</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </template>
        </v-data-table>
      </v-card>
    </v-col>
  </v-row>
  <delete-modal
    v-model="dialogDelete"
    :defaultItem="defaultItem"
    :deleteFunc="deleteFunc"
    :mensaje="mensaje"
  ></delete-modal>
  <product-detail-modal
    v-model="dialogDetail"
    :defaultItem="defaultItem"
  ></product-detail-modal>
</v-container>
