<v-container fluid>
  <!-- Data Table end -->
  <v-row>
    <v-col cols="12">
      <v-card>
        <v-card-title>
          <v-avatar size="48" color="info"
            ><v-icon large color="white">mdi-format-color-fill</v-icon>
          </v-avatar>
          <span class="headline ml-2 info--text"
            >Lista de <code>Categoria Productos</code></span
          >
          <v-spacer></v-spacer>
          <v-card-actions>
            <v-btn
              type="button"
              color="success"
              dark
              tile
              @click="openModalCreate"
            >
              <v-icon>mdi-plus</v-icon>
              Nuevo
            </v-btn>
          </v-card-actions>
        </v-card-title>
        <v-card-text class="layout">
          <v-text-field
            :value="search"
            prepend-icon="search"
            placeholder="Buscar"
            label="Buscar"
            hide-details
            @input="searchByKeyword($event)"
          ></v-text-field>
          <v-btn icon> <v-icon>filter_list</v-icon> </v-btn>
        </v-card-text>
        <v-data-table
          :headers="complex.headers"
          :items="complex.items"
          :items-per-page.sync="elementsPerPage"
          :server-items-length="pagination.totalElements"
          :page.sync="page"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          :search="search"
          :loading="loading"
          class="elevation-1"
          :footer-props="{
              itemsPerPageOptions: [5,10,20,50]
          }"
        >
          <template v-slot:item.#="{ index }">
            <p class="body-2 font-weight-bold mt-4">
              {{((page-1)*elementsPerPage)+index+1}}
            </p>
          </template>
          <!-- <template v-slot:item.colorPreview="{item}">
            <v-avatar :color="item.color" style="border: 1px solid #686868;"></v-avatar>
          </template>
          <template v-slot:item.color="{item}">
              <code>{{item.color}}</code>
          </template> -->
          <template v-slot:item.action="{ item }">
            <v-menu>
              <template v-slot:activator="{ on: menu }">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on: tooltip }">
                    <v-btn icon v-on="{ ...menu }">
                      <v-icon>mdi-dots-vertical</v-icon>
                    </v-btn>
                  </template>
                </v-tooltip>
              </template>
              <v-list class="pa-0" dense>
                <v-list-item
                  v-for="action in actions"
                  :key="action.text"
                  @click="openModal(item, $event)"
                  :id="action.text"
                >
                  <v-list-item-icon :id="action.text" class="mr-2">
                    <v-icon :id="action.text" small>{{ action.icon }}</v-icon>
                  </v-list-item-icon>
                  <v-list-item-title :id="action.text">{{ action.text }}</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </template>
        </v-data-table>
      </v-card>
    </v-col>
  </v-row>
  <v-dialog v-model=" dialogRCP " max-width="340">
    <v-card>
      <v-card-title class="text-h5 justify-center mb-1">
        <v-icon size="60" color="red" class="mr-1">
          mdi-block-helper
        </v-icon>
        <div>
          Error al eliminar!!!
        </div>
      </v-card-title>
      <v-card-text class="ml-4">
        <v-icon>
          mdi-alert
        </v-icon>
        El color esta asignado a un producto
      </v-card-text>
      <v-card-actions class="justify-center">
        <v-btn text color="success" @click="dialogRCP = false">
          Cerrar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <delete-modal
    v-model="dialogDelete"
    :defaultItem="defaultItem"
    :deleteFunc="deleteFunc"
    :mensaje="mensaje"
  ></delete-modal>
  <etiqueta-modal
    v-model="dialog"
    :editItem="defaultItem"
    :reloadFunc="findAllEtiquetas"
  ></etiqueta-modal>
  <etiqueta-detail-modal
    v-model="dialogDetail"
    :defaultItem="defaultItem"
  ></etiqueta-detail-modal>
</v-container>
