<v-dialog
  @click:outside="dialogEvent"
  :value="value"
  @input="dialogEvent"
  max-width="600px"
  transition="dialog-transition"
>
  <v-card>
    <v-card-title class="warning white--text">
      <v-icon color="white" size="36" class="ml-0 mr-2">mdi-transfer-down</v-icon>
      <span class="headline">Decrementar Stock</span>
      <v-spacer></v-spacer>
      <v-btn color="white" icon @click="dialogEvent">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-card-title>
    <v-divider></v-divider>
    <v-card-text class="mt-5">
      <!-- start formulario -->
      <v-form id="defaultItemV" @submit.prevent="checkFormDec">
        <v-text-field
            v-model="defaultItem.nombre"
            name="name"
            label="Nombre Producto"
            disabled
        ></v-text-field>
        <v-text-field
            v-model="defaultItem.codigo"
            name="name"
            label="Codigo"
            disabled
        >
        </v-text-field>
        <v-text-field
            v-model="defaultItem.stockTotal"
            name="name"
            label="Cantidad Actual"
            disabled
        >
        </v-text-field>
        <v-card
          flat
          color="transparent"
        >
          <v-subheader>Cantidad de {{defaultItem.nombre}}(s) a quitar 0 - 100</v-subheader>
          <v-card-text>
            <v-row>
              <v-col class="pr-4">
                <v-slider
                  v-model="slider"
                  class="align-center"
                  :max="max"
                  :min="min"
                  hide-details
                >
                  <template v-slot:append>
                    <v-text-field
                      color="info"
                      v-model="slider"
                      class="mt-0 pt-0"
                      hide-details
                      single-line
                      type="number"
                      style="width: 60px"
                    ></v-text-field>
                  </template>
                </v-slider>
              </v-col>
            </v-row>
          </v-card-text>
      </v-card>
      </v-form>
      <!-- end formulario -->
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="success darken-1" text outlined form="defaultItemV" type="submit">Guardar</v-btn>
    </v-card-actions>
  </v-card>
</v-dialog>
