<v-app>
  <v-main>
    <v-container class="fill-height" fluid>
      <v-row justify="center" align="center">
        <v-col cols="12" md="8" lg="7">
          <v-form
            id="defaultItem"
            name="defaultItem"
            @submit.prevent="checkForm"
          >
            <v-card class="elevation-12">
              <v-row>
                <v-col cols="12" md="4" class="py-0 px-md-0 order-2 order-md-1">
                  <v-card-title
                    class="white--text d-flex flex-column justify-center align-center primary"
                    style="height: 100%; width: auto;"
                  >
                    <v-icon size="80px" color="white" class="d-none d-md-block"
                      >mdi-account</v-icon
                    >
                    <div class="text-center text-h4 d-flex py-8">
                      STORE
                    </div>
                    <div class="text-center text-h6 d-flex pb-5">
                      Volver al inicio de Sesion
                    </div>
                    <v-btn rounded dark outlined right to="/login">
                      <v-icon small left color="white">mdi-login</v-icon>
                      Ir a Login
                    </v-btn>
                  </v-card-title>
                </v-col>
                <v-col cols="12" md="8" class="order-1 order-md-2">
                  <v-stepper v-model="step">
                    <v-stepper-items>
                      <v-stepper-content step="1">
                        <v-card-text
                          class=" d-flex flex-column justify-space-around align-center"
                        >
                          <v-icon color="primary" class="pb-4" size="80px"
                            >mdi-lock-question</v-icon
                          >
                          <div
                            class="text-center text-h5 primary--text text--accent-3"
                          >
                            ¿Olvidó su Contraseña?
                          </div>
                          <h4 class="text-center mt-3">
                            Utilize su correo electrónico para restablecer su
                            contraseña
                          </h4>
                          <v-form
                            class="d-flex align-self-stretch px-0 px-md-8 py-8"
                          >
                            <v-text-field
                              label="Email"
                              name="Email"
                              prepend-icon="mdi-email"
                              type="email"
                              v-model="email"
                              :error-messages="emailErrors"
                              @input="$v.email.$touch()"
                              @blur="$v.email.$touch()"
                            />
                          </v-form>
                          <div class="text-center mt-4">
                            <v-btn
                              form="defaultItem"
                              type="submit"
                              rounded
                              dark
                              color="primary accent-3"
                              >Restablecer
                              <v-icon right>mdi-email-send</v-icon>
                            </v-btn>
                          </div>
                        </v-card-text>
                      </v-stepper-content>
                      <v-stepper-content step="2">
                        <v-card-text
                          class=" d-flex flex-column justify-space-around align-center"
                        >
                          <v-icon color="primary" class="pb-4" size="80px"
                            >mdi-email-receive</v-icon
                          >
                          <div
                            class="text-center text-h5 primary--text text--accent-3"
                          >
                            Se le envio un correo a su E-mail
                          </div>
                          <div class="text-center text-body-2 mt-3 px-8">
                            Revise su bandeja de entrada y siga las
                            instrucciones indicadas, para restablecer su
                            contraseña.
                          </div>
                          <div
                            class="d-flex align-center text-center text-body-2 mt-3 px-8 pt-6"
                          >
                            ¿No le llego ningun correo?
                            <v-btn plain text color="primary" @click="step=1"
                              >Solicite otra vez</v-btn
                            >
                          </div>
                        </v-card-text>
                      </v-stepper-content>
                    </v-stepper-items>
                  </v-stepper>
                </v-col>
              </v-row>
            </v-card>
          </v-form>
        </v-col>
      </v-row>
    </v-container>
  </v-main>
</v-app>
