
  <v-navigation-drawer color="primary" v-model="mini" app dark>
    <v-layout column align-center>
      <!-- <v-alert color="info" dense text class="mt-5">
        <v-flex class="d-flex flex-column align-center justify-center">
          <span class="text-overline white--text text-center">
            Sucursal {{ sucursal.id }}
          </span>
          <span class="text-button white--text text-center">
            {{ tipoSucursal }}
          </span>
          <span class="white--text font-italic text-center">
            <code>{{sucursal.codigoSucursal}}</code>
          </span>
        </v-flex>
      </v-alert>
      -->
      <v-flex class="mt-2">
        <v-avatar size="70" color="primary">
          <img
            src="../../../assets/person_avatar.png"
          />
        </v-avatar>
      </v-flex> 
      <v-flex>
        <p class="white--text mt-1">{{accountX.username}}</p>
        <!-- <p class="white--text mt-1">{{ sucursal.id }}</p> -->
      </v-flex>
    </v-layout>
    <v-list dense nav class="py-0">
      <v-divider color="gray"></v-divider>
      <template v-for="item in computedMenu">
        <template v-if="item.children">
          <v-list-group
            :prepend-icon="item.meta.icon"
            no-action
            style="color: white !important"
            v-if="authRoles(item.meta.auth)"
          >
            <template v-slot:activator>
              <v-list-item-title>{{item.meta.title}}</v-list-item-title>
            </template>
            <v-list-item
              v-for="subItem in item.children"
              v-if="subItem.activated && authRoles(subItem.meta.auth)"
              :key="subItem.meta.title"
              :to="subItem.path"
            >
              <!-- <v-list-item-icon> -->
              <!--   <v-icon>{{ subItem.meta.icon }}</v-icon> -->
              <!-- </v-list-item-icon> -->
              <template>
                <v-list-item-content>
                  <v-list-item-title>{{subItem.meta.title}}</v-list-item-title>
                </v-list-item-content>
              </template>
            </v-list-item>
          </v-list-group>
        </template>
        <template v-else>
          <v-list-item :key="item.title" link :to="item.path">
            <v-list-item-icon>
              <v-icon>{{ item.meta.icon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>{{ item.meta.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </template>
    </v-list>
  </v-navigation-drawer>
