<v-container fluid>
  <v-row>
    <v-col cols="12">
      <v-card>
        <v-card-title>
          <v-avatar
            size="48"
            color="info"
          >
            <v-icon large color="white" >mdi-account-convert-outline</v-icon>
          </v-avatar>
        <span class="headline ml-2 info--text">Lista <code>Roles</code></span>
        </v-card-title>
            <template v-for="item in rol">
              <v-alert
                :icon= "item.icon"
                prominent
                text
                type="info"
              >
                {{ item.name }}
              <v-icon large color="primary" >mdi-ray-start-arrow</v-icon>
                {{ item.description}}
              </v-alert>
            </template>
      </v-card>
    </v-col>
  </v-row>
</v-container>
