<v-footer padless class="footer-permanently-down">
  <v-card flat tile width="100%" class="teal lighten-5 text-center">
    <v-container fluid>
      <v-row align="center" no-gutters>
        <v-col
          class="text-center mb-sm-0 mb-5"
          cols="auto"
        >
          <span class="text-overline primary--text font-weight-bold">
          </span>
        </v-col>
        <v-spacer class="hidden-sm-and-down"></v-spacer>
        <v-col cols="12" md="auto">
          <div class="body-1 font-weight-light pt-6 pt-md-0 text-center">
            <a class="font-weight-bold" >Mayda</a>
            &copy; 2022
          </div>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</v-footer>
