// #dashboard-core-footer
//   a
//     font-size: .825rem
//     font-weight: 500
//     text-decoration: none
//     text-transform: uppercase
.footer-permanently-down {
    position: absolute !important;
    bottom: 0 !important;
    width: 100% !important;
}