<v-app>
  <v-main>
    <v-container class="fill-height" fluid>
      <v-row align="center" justify="center">
        <v-col cols="12" md="7">
          <v-card class="elevation-12">
            <v-window v-model="step">
              <v-window-item :value="1">
                <v-row>
                  <v-col cols="12" md="6">
                    <v-card-text>
                      <!-- <h1 class="text-center display-1 primary--text text--accent-3">Jersey's System</h1> -->
                      <v-layout column align-center>
                        <v-flex class="mt-0 mb-0">
                          <img img src="../../assets/producto.png" width="200px" />
                          <!-- <img
                            v-if="imagenUrl"
                            :src="'data:' + defaultItem.logo1ContentType + ';base64,' + defaultItem.logo1"
                            alt="img"
                            width="200px"
                            height="200px"
                            style="object-fit: contain;"
                          /> -->
                          <!-- <img v-else :src="imagenUrl" alt="altX" /> -->
                        </v-flex>
                      </v-layout>
                      <h4 class="text-center">Ingrese con sus datos</h4>
                      <v-form
                        id="defaultItem"
                        name="defaultItem"
                        @submit.prevent="checkForm"
                      >
                        <v-text-field
                          v-model="username"
                          :error-messages="usernameErrors"
                          @input="$v.username.$touch()"
                          @blur="$v.username.$touch()"
                          label="Nombre de Usuario"
                          name="userName"
                          prepend-icon="mdi-account"
                          type="text"
                          color="primary accent-3"
                        />
                        <v-text-field
                          v-model="password"
                          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                          :error-messages="passwordErrors"
                          @input="$v.password.$touch()"
                          @blur="$v.password.$touch()"
                          label="Contraseña"
                          name="Password"
                          prepend-icon="mdi-lock"
                          :type="showPassword ? 'text' : 'password'"
                          color="primary accent-3"
                          @click:append="showPassword = !showPassword"
                        />
                      </v-form>
                      <div class="text-center pb-5 mt-3 mb-3">
                        <v-btn
                          form="defaultItem"
                          type="submit"
                          rounded
                          dark
                          color="primary accent-3"
                          >Ingresar</v-btn
                        >
                      </div>
                      <h3
                        class="text-center info--text mt-3 mb-3 pointer"
                        @click="redirectTo"
                      >
                        ¿Olvido su Contraseña?
                      </h3>
                    </v-card-text>
                  </v-col>
                  <v-col
                    cols="12"
                    md="6"
                    class="primary accent-3 d-flex align-center"
                  >
                    <v-card-text class="white--text">
                      <v-layout column align-center>
                        <v-flex class="mt-2 mb-2">
                          <v-avatar size="120">
                            <!-- <img
                              v-if="imagenUrl"
                              :src="'data:' + defaultItem.logo1ContentType + ';base64,' + defaultItem.logo1"
                              alt="img"
                              style="object-fit: contain;"
                            /> -->

                            <img img src="../../assets/producto.png" width="200px" />
                            <!-- <img v-else :src="imagenUrl" alt="altX" /> -->
                          </v-avatar>
                        </v-flex>
                        <h1 class="text-center headline">Store Huk</h1>
                        <h5 class="text-center overline">
                          Sistema Integrado de Venta Comics, Poleras y Accesorios en
                          General.
                        </h5>
                      </v-layout>
                    </v-card-text>
                  </v-col>
                </v-row>
              </v-window-item>
            </v-window>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-main>
</v-app>
