<v-container fluid>
  <v-card>
    <v-card-title class="mb-0 pb-0">
      <p class="info--text headline" text>
        <v-avatar size="48" color="info">
          <v-icon color="white" size="32">mdi-transfer</v-icon>
        </v-avatar>
        Inventario de Productos, sucursal <code>{{sucursal.nombre}}</code>
      </p>
      <v-spacer></v-spacer>
      <v-card-actions>
        <v-btn type="button" color="success" dark tile @click="openModalAdicionarProducto()">
        <v-icon>mdi-archive-arrow-down-outline</v-icon>
          Adicionar Producto
        </v-btn>
      </v-card-actions>
    </v-card-title>
    <v-divider></v-divider>
    <v-card-text>
      <v-text-field
        :value="search"
        prepend-icon="mdi-database-search"
        label="Buscar producto"
        hide-details
        @input="searchProductoInInventory($event)"
      ></v-text-field>
    </v-card-text>
    <v-card-text>
      <v-data-table
        :headers="complex.headers"
        :items="complex.items"
        :items-per-page.sync="elementsPerPage"
        :server-items-length="pagination.totalElements"
        :page.sync="page"
        :sort-by.sync="sortBy"
        :sort-desc.sync="sortDesc"
        :search="search"
        :loading="loading"
        class="elevation-1"
        :footer-props="{
                    itemsPerPageOptions: [5,10,20,50]
                }"
      >
        <template v-slot:no-data>
          <v-alert
            class="mt-4"
            :value="true"
            icon="warning"
            dense
            outlined
            type="warning"
          >
            No hay productos o no existe en el Inventario
          </v-alert>
        </template>
        <template v-slot:item.avatar="{ item }">
          <v-avatar class="my-2" size="60" style="border: 1px solid #686868;">
            <v-img
              v-if="item.imageUrl"
              :src="base + item.imageUrl"
              alt="foto"
            ></v-img>
            <v-img
              v-else
              src="../../../../assets/producto.png"
              alt="avatar"
            ></v-img>
          </v-avatar>
        </template>
        <template v-slot:item.color="{item}">
          <v-avatar
            size="30"
            :color="item.color.color"
            style="border: 1px solid #686868;"
          ></v-avatar>
        </template>

        <template v-slot:item.nombre="{ item }">
          <span class="text-body-2">{{item.nombre}}</span>
        </template>
        <template v-slot:item.codigo="{ item }">
          <code>{{item.codigo}}</code>
        </template>
        <template v-slot:item.calidad="{ item }">
          <code class="text-caption">{{item.calidad}}</code>
        </template>
        <template v-slot:item.categoriaProducto="{ item }">
          <span class="text-caption font-weight-medium"
            >{{item.categoriaProducto}}</span
          >
        </template>
        <template v-slot:item.marca.nombre="{ item }">
          <code class="text-caption">{{item.marca.nombre}}</code>
        </template>

        <template v-slot:item.stockTotal="{ item }">
          <v-chip color="teal" class="white--text">
            <v-icon left>
              mdi-database-edit
            </v-icon>
            <code class="font-weight-bold" style="transform: scale(1.2);"
              >{{ item.stockTotal }} {{item.unidadMedida.sigla}}</code
            >
          </v-chip>
        </template>
        <template v-slot:item.precioUnitarioVenta="{ item }">
          <code class="text-caption font-weight-medium secondary--text py-2">
            {{parseFloat(item.precioUnitarioVenta || 0).toFixed(2)}} Bs.
          </code>
        </template>
        <template v-slot:item.action="{ item }">
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                fab
                text
                color="primary"
                v-bind="attrs"
                v-on="on"
                @click="openModal(item)"
              >
                <v-icon>mdi-cash-fast</v-icon>
              </v-btn>
            </template>
            <span>Cambiar Precio de Venta</span>
          </v-tooltip>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                fab
                text
                color="error"
                v-bind="attrs"
                v-on="on"
                @click="openModalRetirarProducto(item)"
              >
                <v-icon>mdi-archive-arrow-up-outline</v-icon>
              </v-btn>
            </template>
            <span>Retirar Producto de Inventario</span>
          </v-tooltip>
        </template>
      </v-data-table>
      <v-divider />
    </v-card-text>
  </v-card>
  <v-dialog v-model="precioVentaDialog" max-width="800px" persistent>
    <v-card>
      <v-card-title class="primary white--text">
        <span class="headline"> Actualizar Precio Unitario de Venta </span>
        <v-spacer></v-spacer>
        <v-btn fab text dark @click="closeModal">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-row class="d-flex justify-center mt-3">
          <v-col cols="6">
            <v-form ref="precioVentaForm">
              <v-text-field
                :rules="precioRules"
                v-model="defaultItem.precioUnitarioVenta"
                label="Precio Unitario de Venta"
                prepend-icon="mdi-currency-usd"
                type="number"
                min="1"
                placeholder="0.00"
              >
                <span slot="append" class="text-overline">Bs.</span>
              </v-text-field>
            </v-form>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-title class="info mx-6 mt-2 white--text"
        >Lista de Precios de Compra</v-card-title
      >
      <v-card-text>
        <v-data-table
          class="elevation-2 mt-1"
          :headers="detalles_entrada.headers"
          :items="detalles_entrada.items"
          disable-sort
          disable-pagination
          disable-filtering
          hide-default-footer
        >
          <template v-slot:item.#="{ index }">
            <span class="font-weight-bold">{{index+1}}</span>
          </template>
          <template v-slot:item.fecha="{ item }">
            <code class="text-caption">{{fechaTo(item.fecha)}}</code>
          </template>
          <template v-slot:item.razonSocial="{ item }">
            <span class="text-caption">{{item.razonSocial}}</span>
          </template>
          <template v-slot:item.precioUnitarioCompra="{ item }">
            <code class="text-caption font-weight-medium secondary--text py-2">
              {{parseFloat(item.precioUnitarioCompra || 0).toFixed(2)}} Bs.
            </code>
          </template>
          <template v-slot:item.precioVenta="{ item }">
            <code class="text-caption font-weight-medium secondary--text py-2">
              {{parseFloat(defaultItem.precioUnitarioVenta || 0).toFixed(2)}} Bs.
            </code>
          </template>
          <template v-slot:item.margenGanancia="{ item }">
            <code class="text-caption font-weight-medium secondary--text py-2">
              {{parseFloat(defaultItem.precioUnitarioVenta - item.precioUnitarioCompra || 0).toFixed(2)}} Bs.
            </code>
          </template>
        </v-data-table>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions class="d-flex justify-end">
        <v-btn text tile color="error" @click="closeModal">Cancelar</v-btn>
        <v-btn tile color="success" @click="updatePrecioVenta"
          >Actualizar</v-btn
        >
      </v-card-actions>
    </v-card>
  </v-dialog>
  <v-dialog v-model="retirarProductoDialog" max-width="500px">
    <v-card>
      <v-card-title class="error white--text">
        <v-icon large left dark>mdi-archive-cancel</v-icon>
        Retirar Producto de Inventario
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text class="d-flex flex-column justify-space-around">
        <p class="text-body-1 pt-4 text-center">
          ¿Esta seguro de retirar el producto del Inventario?
        </p>
        <v-alert
          type="warning"
          dense
          icon="warning"
          text
          outlined
          class="elevation-2"
        >
          <span class="text-overline mr-3">advertencia:</span>Esta accion es reversible.
        </v-alert>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions class="d-flex justify-end">
        <v-btn text tile color="secondary" @click="closeModalRerirarProducto()" 
          >cancelar</v-btn
        >
        <v-btn tile color="error" :loading="loading1" @click="updateRetiroProducto()">Retirar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <v-dialog v-model="adicionarProductoDialog" max-width="500px" persistent>
    <v-form ref="productoForm">
      <v-card>
        <v-card-title class="primary white--text">
          <span class="headline"> Adicionar Producto al Inventario </span>
          <v-spacer></v-spacer>
          <v-btn fab text dark @click="closeModalAdicionarProducto()">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <!-- <v-divider></v-divider> -->
        <v-card-text>
            <v-row class="d-flex justify-center mt-3">
            <v-col cols="6">
              <v-autocomplete
                :rules="rules.productoRules.productError"
                prepend-icon="mdi-archive-search"
                label="Producto"
                v-model="productItem.producto"
                placeholder="Buscar Producto"
                chips
                return-object
                :items="productos"
                item-text="nombre"
              >
                <template v-slot:no-data>
                  <v-alert
                    prominent
                    text
                    outlined
                    type="error"
                    class="mx-2 mt-2"
                  >
                    <v-flex
                      cols="12"
                      sm="4"
                      class="d-flex justify-center flex-column align-center justify-space-between"
                    >
                      <span class="text-body-2">El producto no existe...</span>
                    </v-flex>
                  </v-alert>
                </template>
                <template v-slot:selection="data">
                  <v-chip>
                    {{ data.item.nombre }}
                  </v-chip>
                </template>
              </v-autocomplete>
            </v-col>
            <v-col cols="6">
                <v-text-field
                  :rules="rules.productoRules.precioRules"
                  v-model.number="productItem.precioUnitarioVenta"
                  label="Precio Unitario de Venta"
                  prepend-icon="mdi-currency-usd"
                  type="number"
                  placeholder="0.00"
                >
                  <span slot="append" class="text-overline">Bs.</span>
                </v-text-field>
              </v-col>
            </v-row>
        
        </v-card-text>
        <v-divider></v-divider>
        <v-card-title class="info mx-6 mt-2 white--text"
          >Lista de Precios de Compra</v-card-title
        >
        <v-card-text>
          <v-data-table
            class="elevation-2 mt-1"
            :headers="detalles_entrada.headers"
            :items="detalles_entrada.items"
            disable-sort
            disable-pagination
            disable-filtering
            hide-default-footer
          >
            <template v-slot:item.#="{ index }">
              <span class="font-weight-bold">{{index+1}}</span>
            </template>
            <template v-slot:item.fecha="{ item }">
              <code class="text-caption">{{fechaTo(item.fecha)}}</code>
            </template>
            <template v-slot:item.razonSocial="{ item }">
              <span class="text-caption">{{item.razonSocial}}</span>
            </template>
            <template v-slot:item.precioUnitarioCompra="{ item }">
              <code class="text-caption font-weight-medium secondary--text py-2">
                {{parseFloat(item.precioUnitarioCompra || 0).toFixed(2)}} Bs.
              </code>
            </template>
          </v-data-table>
          <v-input
            dense
            :rules="rules.productoRules.itemsError"
            v-model="detalles_entrada.items.length"
          >
          </v-input>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions class="d-flex justify-end">
          <v-btn text tile color="error" @click="closeModalAdicionarProducto">Cancelar</v-btn>
          <v-btn tile color="success" @click="addProductToInventory()" :loading="loading2"
            >Adicionar</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</v-container>
