<template>
  <v-app class="main">
    <router-view> </router-view>
    <notifications group="msg-sale" class="pb-3 pr-3" position="bottom right">
      <template slot="body" slot-scope="props">
        <v-dialog v-model="dialog" max-width="320">
          <v-card>
            <v-card-title class="text-h5 justify-center">
              <v-icon
                size="115"
                :color="props.item.type === 'success' ? 'green' : 'red'"
              >
                {{
                  props.item.type === "success"
                    ? "mdi-check-circle-outline"
                    : "mdi-close-circle-outline"
                }}
              </v-icon>
              Impresion de Factura!
            </v-card-title>
            <v-card-text>
              {{ props.item.text }}
              {{
                props.item.type === "success"
                  ? "Retire el Papel de la IMPRESORA."
                  : "Error en la Impresion"
              }}
              <v-icon :color="props.item.type === 'success' ? 'green' : 'red'">
                {{
                  props.item.type === "success"
                    ? "mdi-printer-check"
                    : "mdi-printer-off"
                }}
              </v-icon>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                :color="
                  props.item.type === 'success'
                    ? 'green darken-1'
                    : 'red darken-1'
                "
                text
                @click="props.close"
              >
                Cerrar
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </template>
    </notifications>
    <notifications group="foo" class="pb-3 pr-3" position="bottom right">
      <template slot="body" slot-scope="props">
        <v-alert
          dismissible
          prominent
          dark
          dense
          :type="props.item.type"
          border="left"
          class="fs-notification"
        >
          <a class="close" @click="props.close">
            <i class="fa fa-fw fa-close"></i>
          </a>
          <div v-html="props.item.text" class="fs-notification"></div>
        </v-alert>
      </template>
    </notifications>
    <notifications group="token" class="pb-3 pr-3" position="bottom right">
      <template slot="body" slot-scope="props">
        <v-alert prominent dark dense :type="props.item.type">
          <v-row align="center">
            <v-col class="grow">
              <div v-html="props.item.text" class="fs-notification"></div>
            </v-col>
            <v-col class="shrink">
              <v-btn
                @click="
                  props.close();
                  redirectTo();
                "
                class="ma-2"
                outlined
                color="white"
                >Ir a Ingreso</v-btn
              >
            </v-col>
          </v-row>
        </v-alert>
        <v-dialog v-model="dialog" fullscreen transition="disabled">
          <v-container
            fluid
            fill-height
            style="background-color: rgba(000, 000, 000, 0.2)"
          >
            <v-layout justify-center align-center>
              <v-progress-circular indeterminate :size="50" color="primary">
              </v-progress-circular>
            </v-layout>
          </v-container>
        </v-dialog>
      </template>
    </notifications>
  </v-app>
</template>

<script>
export default {
  name: "App",
  data: () => ({
    //
    dialog: true,
  }),
  methods: {
    redirectTo() {
      this.$router.push("/login");
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fs-notification {
  font-size: 14px !important;
}
/*Chrome, Opera, Safari*/
::-webkit-scrollbar {
  -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
  /*Ancho de la barra vertical*/
  width: 8px;
  margin: 2px;
}
::-webkit-scrollbar-button:increment,
::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar:horizontal {
  /*Ancho de la barra horizontal*/
  height: 8px;
}

::-webkit-scrollbar-thumb {
  height: 20px;
  background-color: #00695c;
  border-radius: 20px;
  margin: 2px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

/*::-webkit-scrollbar-thumb:hover {
  box-shadow: 0 0 2px 1px #49494985;
  border-radius: 20px;
}*/

/*Mozilla*/
* {
  scrollbar-width: thin;
  scrollbar-color: #00695c transparent;
  scroll-behavior: smooth;
}
</style>
<!-- text-align: center; -->
<!-- color: #2c3e50; -->
<!-- margin-top: 60px; -->
