<v-container fluid>
  <v-card>
    <v-card-title class="d-flex justify-space-between"
      ><span class="info--text">
        Crear Entrada</span
      >
      <v-card-actions class="d-flex justify-end">
        <v-btn tile color="error" text @click="resetForm">Resetear</v-btn>
        <v-btn :loading="loading" tile color="success" @click="createEntrada"
          >crear</v-btn
        >
      </v-card-actions>
    </v-card-title>
    <v-divider></v-divider>
    <v-form ref="entradaForm">
      <v-card-text>
        <v-card>
          <v-card-title
            class="primary white--text d-flex justify-space-between"
          >
            <span>Detalles de Entrada</span>
            <v-btn
              class="d-none d-md-block"
              tile
              outlined
              dark
              @click="openCreate"
              >Añadir Producto
              <v-icon right>mdi-plus</v-icon>
            </v-btn>
            <v-btn class="d-md-none" text dark fab @click="openCreate">
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </v-card-title>
          <v-card-text>
            <v-data-table
              :headers="productos_entrada.headers"
              :items="productos_entrada.items"
              disable-sort
              disable-pagination
              disable-filtering
              hide-default-footer
            >
              <template v-slot:no-data>
                <v-alert
                  class="mt-4"
                  :value="true"
                  icon="warning"
                  dense
                  outlined
                  type="warning"
                >
                  No hay productos añadidos a la entrada...
                </v-alert>
              </template>
              <template v-slot:item.#="{ index }">
                <p class="body-2 font-weight-bold mt-4">
                  {{index+1}}
                </p>
              </template>
              <template v-slot:item.producto="{ item }">
                <span class="text-caption">{{item.product.nombre}}</span>
              </template>
              <template v-slot:item.codigo="{ item }">
                <code>{{item.product.codigo}}</code>
              </template>
              <template v-slot:item.tipo="{ item }">
                <span class="text-caption font-weight-medium"
                  >{{item.product.categoria.nombre}}</span
                >
              </template>
              <template v-slot:item.marca="{ item }">
                <code class="text-caption">{{item.product.etiqueta.nombre}}</code>
              </template>
              <template v-slot:item.product.codigo="{ item }">
                <code>{{item.product.codigo}}</code>
              </template>
              <template v-slot:item.cantidad="{ item }">
                <code>
                  {{item.cantidad}}
                </code>
              </template>
              <template v-slot:item.precioUnitario="{ item }">
                <span
                  class="text-caption font-weight-medium secondary--text py-2"
                >
                  {{parseFloat(item.precioUnitario).toFixed(2)}} Bs.</span
                >
              </template>
              <template v-slot:item.subTotal="{ item }">
                <code
                  class="text-caption font-weight-medium secondary--text py-2"
                >
                  {{parseFloat(item.subTotal).toFixed(2)}} Bs.
                </code>
              </template>
              <template v-slot:item.action="{ item, index }">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      small
                      fab
                      text
                      color="primary"
                      v-bind="attrs"
                      v-on="on"
                      @click="openEdit(index)"
                    >
                      <v-icon small>mdi-pencil</v-icon>
                    </v-btn>
                  </template>
                  <span>Editar</span>
                </v-tooltip>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      small
                      fab
                      text
                      color="primary"
                      v-bind="attrs"
                      v-on="on"
                      @click="deleteProduct(index)"
                    >
                      <v-icon small>mdi-delete</v-icon>
                    </v-btn>
                  </template>
                  <span>Eliminar</span>
                </v-tooltip>
              </template>
            </v-data-table>
            <v-input
              dense
              :rules="rules.entradaRules.itemsError"
              v-model="productos_entrada.items.length"
            >
            </v-input>
            <v-alert
              v-if="total >0"
              class="mt-4"
              :value="true"
              icon="mdi-cash"
              outlined
              prominent
              text
              type="info"
            >
              <v-flex class="d-flex justify-end align-center">
                <span class="text-h6 mr-3">TOTAL:</span>
                <code class="text-h6"
                  >{{parseFloat(total).toFixed(2)}} Bs.</code
                >
              </v-flex>
            </v-alert>
          </v-card-text>
        </v-card>
      </v-card-text>
    </v-form>
  </v-card>

  <v-dialog v-model="productDialog" max-width="800px" persistent>
    <v-card>
      <v-card-title class="primary white--text"
        >{{modalTitle}} Producto
        <v-spacer></v-spacer>
        <v-btn fab text dark @click="closeProductDialog"
          ><v-icon>mdi-close</v-icon></v-btn
        >
      </v-card-title>
      <v-card-text>
        <v-form ref="productosForm">
          <v-row>
            <v-col cols="12" md="6">
              <v-autocomplete
                :rules="rules.productRules.productError"
                v-model="entradaItem.product"
                prepend-icon="mdi-archive-search"
                label="Producto"
                placeholder="Buscar Producto"
                chips
                return-object
                :items="productos"
                item-text="nombre"
              >
                <!-- <template v-slot:no-data>
                  <v-alert
                    prominent
                    text
                    outlined
                    type="error"
                    class="mx-2 mt-2"
                  >
                    <v-flex
                      cols="12"
                      sm="4"
                      class="d-flex justify-center flex-column align-center justify-space-between"
                    >
                      <span class="text-body-2">El producto no existe...</span>
                      <v-btn
                        small
                        color="primary"
                        class="mt-3"
                        @click="openProductFormModal"
                      >
                        crear producto
                        <v-icon right>mdi-plus</v-icon>
                      </v-btn>
                    </v-flex>
                  </v-alert>
                </template> -->
                <template v-slot:selection="data">
                  <v-chip>
                    {{ data.item.nombre }}
                  </v-chip>
                </template>

                <template v-slot:item="data">
                  <template v-if="typeof data.item !== 'object'">
                    <v-list-item-content
                      v-text="data.item"
                    ></v-list-item-content>
                  </template>
                  <template v-else>
                    <v-list-item-content>
                      <v-list-item-title class="font-weight-bold">
                        {{data.item.nombre}} -
                        <code class="text-overline">{{data.item.codigo}}</code>
                      </v-list-item-title>
                    </v-list-item-content>
                  </template>
                </template>
              </v-autocomplete>
            </v-col>
            <v-col cols="12" md="3">
              <v-text-field
                :rules="rules.productRules.cantidadError"
                v-model="entradaItem.cantidad"
                label="Cantidad"
                prepend-icon="mdi-counter"
                type="number"
                min="1"
                placeholder="0"
                clearable
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="3">
              <v-text-field
                :rules="rules.productRules.precioTotalError"
                v-model="entradaItem.subTotal"
                label="Sub Total"
                prepend-icon="mdi-currency-usd"
                type="number"
                min="1"
                placeholder="0.00"
              >
                <span slot="append" class="text-overline">Bs.</span>
              </v-text-field>
            </v-col>
            <v-col cols="12">
              <v-alert
                icon="mdi-archive"
                outlined
                prominent
                text
                type="info"
                border="left"
              >
                <v-row class="d-flex justify-center align-center">
                  <v-col
                    cols="12"
                    sm="4"
                    class="d-flex justify-center flex-column align-center"
                  >
                    <span class="text-overline">Producto:</span>
                    <div class="d-flex flex-column align-center text-caption">
                      <span>{{product.nombre || '---'}}</span>
                    </div>
                    <!-- <v-btn
                      class="mt-2"
                      v-if="product.id"
                      text
                      small
                      color="primary"
                      @click=" openProductDetailModal(product)"
                      ><v-icon left>mdi-information</v-icon>
                      <span class=" text-caption text-decoration-underline"
                        >info</span
                      >
                    </v-btn> -->
                    <!--v-tooltip bottom>
                      <template v-slot:activator="{ on, attrs }"> </template>
                      <span class="text-caption">Ver Detalles de Producto</span>
                    </v-tooltip-->
                  </v-col>
                  <hr
                    width="80%"
                    class="h-line d-sm-none d-xs-block"
                    d-sm-none
                    d-xs-block
                  />
                  <v-divider
                    vertical
                    class="d-none d-sm-block"
                    d-none
                    d-sm-block
                  ></v-divider>
                  <v-col
                    cols="12"
                    sm="4"
                    class="d-flex flex-column justify-center align-center"
                  >
                    <span class="text-overline">Cantidad:</span>
                    <code class=" font-weight-bold">
                      {{cantidadEntrada}}
                    </code>
                  </v-col>
                  <hr
                    width="80%"
                    class="h-line d-sm-none d-xs-block"
                    d-sm-none
                    d-xs-block
                  />
                  <v-divider
                    vertical
                    class="d-none d-sm-block"
                    d-none
                    d-sm-block
                  ></v-divider>
                  <v-col
                    cols="12"
                    sm="4"
                    class="d-flex flex-column justify-center align-center"
                  >
                    <span class="text-overline">Precio Unitario:</span>
                    <span class="text-body-1 font-weight-bold"
                      >{{parseFloat(getPrecioUnitario).toFixed(2)}} Bs.</span
                    >
                    <hr width="80%" class="h-line my-3" />
                    <span class="text-overline">Sub Total:</span>
                    <span class="text-body-1 font-weight-bold"
                      >{{parseFloat(subTotal).toFixed(2)}} Bs.</span
                    >
                  </v-col>
                </v-row>
              </v-alert>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions class="d-flex justify-end">
        <v-btn text tile color="error" @click="closeProductDialog"
          >Cancelar</v-btn
        >
        <v-btn tile color="success" @click="actionProduct"
          >{{modalTitle}}</v-btn
        >
      </v-card-actions>
    </v-card>
  </v-dialog>

  <product-detail-modal
    v-model="dialogDetail"
    :defaultItem="detailProduct"
  ></product-detail-modal>
</v-container>
