<v-container fluid>
  <v-row>
    <v-col cols="12">
      <v-card>
        <v-card-title class="info--text headline">
          <v-avatar
          size="48"
          color="info"
          ><v-icon large color="white">mdi-archive-arrow-down-outline</v-icon>
        </v-avatar>
        <span class="headline ml-2 info--text">Movimientos de Entradas</span>
        <v-spacer></v-spacer>
      </v-card-title>

      <v-form id="filter" @submit.prevent="searchByKeywordOption">
      <v-card-text class="layout">
        <v-row>
            <v-col md="6" cols="12">
              <v-divider class="mr-3 ml-3" color="purple"></v-divider>
              <p class="text-center font-weight-thin mb-1">Buscar por nombre</p>
              <v-divider class="mr-3 ml-3" color="purple"></v-divider>
              <v-text-field
                clearable
                prepend-icon="search"
                placeholder="Buscar"
                label="Buscar"
                hide-details
                v-model="search"
                @click:clear="findAllDetalleEntrada"
              ></v-text-field>
            </v-col>
            <v-col md="6" cols="12">
              <v-divider class="mr-3 ml-3" color="purple"></v-divider>
              <p class="text-center font-weight-thin mb-1 " color="info">Buscar por rango de fechas</p>
              <v-divider class="mr-3 ml-3" color="purple"></v-divider>
              <v-row>
                <v-col md="5" cols="5">
                    <v-menu
                    v-model="menu"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    transition="scale-transition"
                    offset-y
                    min-width="auto"
                    >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="startDate"
                        label="Fecha inicio"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                        hide-details
                        clearable
                        @click:clear="findAllDetalleEntrada"
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      v-model="startDate"
                      @input="menu = false"
                    ></v-date-picker>
                    </v-menu>
                  </v-col>
                  <v-col md="5" cols="5">
                    <v-menu
                      v-model="menu2"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="290"
                    >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="endDate"
                        clearable
                        label="Fecha fin"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                        @click:clear="findAllDetalleEntrada"
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      v-model="endDate"
                      @input="menu2 = false"
                    ></v-date-picker>
                    </v-menu>
                  </v-col>
                  <v-col md="2" cols="2" justify-center>
                    <v-btn
                    class="mt-3"
                    fab
                    dark
                    small
                    color="blue darken-4"
                    type="submit"
                    >
                    <v-icon dark>
                      mdi-magnify
                    </v-icon>
                  </v-btn>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-card-text>
      </v-form>
        <v-data-table
          :headers="complex.headers"
          :items="complex.items"
          :items-per-page.sync="elementsPerPage"
          :server-items-length="pagination.totalElements"
          :page.sync="page"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          :search="search"
          :loading="loading"
          class="elevation-1"
          :footer-props="{
            itemsPerPageOptions: [5,10,20,50]
          }"
        >
        <template v-slot:item.#="{ index }">
          <p class="body-2 font-weight-bold mt-4">{{((page-1)*elementsPerPage)+index+1}}</p>
        </template>
        <template v-slot:item.createdDate="{ item }">
          <p>{{ fechaTo(item.createdDate) }}</p>
        </template>
        <template v-slot:item.hora="{ item }">
            <p>{{ horaTo(item.createdDate) + " hrs." }}</p>
        </template>
        <template v-slot:item.cantidad="{ item }">
            <p class="success--text"> + {{item.cantidad}}</p>
        </template>
        <template v-slot:item.costoUnitario="{ item }">
          <p class="info--text">{{item.costoUnitario}}<span> $.</span></p>
      </template>
        <template  v-slot:item.action="{ item }">
          <v-btn class="ml-4" color="primary" icon @click="openModal(item)">
          <v-icon
            small
          >mdi-eye</v-icon>
          </v-btn>
        </template>
        </v-data-table>
      </v-card>
    </v-col>
  </v-row>
  <entries-modal v-model="dialog" :defaultItem="defaultItem"></entries-modal>
</v-container>
