<v-container fluid>
  <v-card>
    <v-card-title class="info--text headline">
      <v-avatar size="48" color="info"
        ><v-icon large color="white">mdi-archive-arrow-down-outline</v-icon>
      </v-avatar>
      <span class="headline ml-2 info--text"
        >Movimientos de Entradas, Sucursal
        <code>{{sucursal.nombre}}</code></span
      >
      <v-spacer></v-spacer>
    </v-card-title>
    <v-form id="filter" @submit.prevent="searchByKeywordOption">
      <v-card-text class="layout">
        <v-row>
          <v-col md="6" cols="12">
            <v-banner outlined single-line class="text-center">
              <span class="text-subtitle-1 info--text">Buscar por Nombre</span>
            </v-banner>
            <v-text-field
              clearable
              prepend-icon="search"
              placeholder="Buscar"
              label="Buscar"
              hide-details
              v-model="search"
              @click:clear="findAllEntradas"
            ></v-text-field>
          </v-col>
          <v-col md="6" cols="12">
            <v-banner outlined single-line class="text-center">
              <span class="text-subtitle-1 info--text"
                >Buscar por Rango de Fechas</span
              >
            </v-banner>
            <v-row>
              <v-col md="5" cols="5">
                <v-menu
                  v-model="menu"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  transition="scale-transition"
                  offset-y
                  min-width="auto"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="startDate"
                      label="Fecha inicio"
                      prepend-icon="mdi-calendar"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                      hide-details
                      clearable
                      @click:clear="findAllEntradas"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="startDate"
                    @input="menu = false"
                  ></v-date-picker>
                </v-menu>
              </v-col>
              <v-col md="5" cols="5">
                <v-menu
                  v-model="menu2"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  transition="scale-transition"
                  offset-y
                  min-width="290"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="endDate"
                      clearable
                      label="Fecha fin"
                      prepend-icon="mdi-calendar"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                      @click:clear="findAllEntradas()"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="endDate"
                    @input="menu2 = false"
                  ></v-date-picker>
                </v-menu>
              </v-col>
              <v-col md="2" cols="2" justify-center>
                <v-btn
                  :disabled="startDate===(''||null) || endDate===(''||null)"
                  class="mt-3"
                  fab
                  small
                  color="primary"
                  type="submit"
                >
                  <v-icon dark>
                    mdi-magnify
                  </v-icon>
                </v-btn>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card-text>
    </v-form>
    <v-divider></v-divider>
    <v-card-text>
      <v-data-table
        :headers="entradas.headers"
        :items="entradas.items"
        class="elevation-1"
        :expanded.sync="expanded"
        item-key="id"
        single-expand
        show-expand
        :items-per-page.sync="elementsPerPage"
        :server-items-length="pagination.totalElements"
        :page.sync="page"
        :sort-by.sync="sortBy"
        :sort-desc.sync="sortDesc"
        :search="search"
        :loading="loading"
        :footer-props="{
          itemsPerPageOptions: [5,10,20,50]
        }"
      >
        <template v-slot:item.#="{ index }">
          <span class="body-2 font-weight-bold">
            {{((page-1)*elementsPerPage)+index+1}}
          </span>
        </template>
        <template v-slot:item.fecha="{ item }">
          <span class="text-caption">{{ fechaTo(item.fecha) }}</span>
        </template>
        <template v-slot:item.hora="{ item }">
          <span class="text-caption">
            {{ horaTo(item.fecha).substring(0,5) + " hrs." }}
          </span>
        </template>
        <template v-slot:item.estado="{ item }">
          <v-chip
            class="text-caption"
            small
            :class="item.estado?'success':'error'"
            >{{item.estado?'PROCESADO':'ANULADO'}}</v-chip
          >
        </template>
        <template v-slot:item.invProveedor.razonSocial="{ item }">
          <span class="text-body-2">{{item.invProveedor.razonSocial}}</span>
        </template>
        <template v-slot:item.tipoEntrada="{ item }">
          <v-chip
            v-if="item.tipoEntrada === 'DEUDA'"
            color="deep-purple lighten-1"
            class="text-caption"
            dark
            small
          >
            {{ item.tipoEntrada }}
          </v-chip>
          <v-chip v-else color="teal " dark small class="text-caption">
            {{ item.tipoEntrada }}
          </v-chip>
        </template>
        <template v-slot:item.montototal="{ item }">
          <code class="text-caption font-weight-bold primary--text py-2">
            {{parseFloat(item.montototal).toFixed(2)}} Bs.
          </code>
        </template>
        <template v-slot:item.montoCancelado="{ item }">
          <span class="text-caption font-weight-medium secondary--text py-2"
            >{{parseFloat(item.montoCancelado).toFixed(2)}} Bs.</span
          >
        </template>
        <template v-slot:item.tipoMovEntrada="{ item }">
          <code class="text-caption font-weight-bold primary--text py-2">
            {{ item.tipoMovEntrada }}
          </code>
        </template>
        <template v-slot:item.action="{ item, index }">
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                small
                fab
                text
                color="info"
                v-bind="attrs"
                v-on="on"
                @click="openModal(item,1)"
              >
                <v-icon small>mdi-eye</v-icon>
              </v-btn>
            </template>
            <span>Ver Detalles</span>
          </v-tooltip>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                :disabled="!item.estado"
                small
                fab
                text
                color="error"
                v-bind="attrs"
                v-on="on"
                @click="openAnularDialog(item)"
              >
                <v-icon small>mdi-cancel</v-icon>
              </v-btn>
            </template>
            <span>Anular</span>
          </v-tooltip>
        </template>
        <template v-slot:expanded-item="{ headers, item, index }">
          <td :colspan="headers.length">
            <v-card-text>
              <v-data-table
                :headers="detalle_entrada.headers"
                :items="detalle_entrada.items"
                disable-sort
                disable-pagination
                disable-filtering
                hide-default-footer
                class="elevation-1 teal lighten-5"
              >
                <template v-slot:item.#="{ index }">
                  <span class="body-2 font-weight-bold">
                    {{index+1}}
                  </span>
                </template>
                <template v-slot:item.producto.nombre="{ item }">
                  <span class="text-caption">{{item.producto.nombre}}</span>
                </template>
                <template v-slot:item.um="{ item }">
                  <span class="text-caption"
                    >{{item.producto.unidadMedida.unidad}}</span
                  >
                </template>
                <template v-slot:item.producto.codigo="{ item }">
                  <code>{{item.producto.codigo}}</code>
                </template>
                <template v-slot:item.tipo="{ item }">
                  <span class="text-caption font-weight-medium"
                    >{{item.producto.categoriaProducto}}</span
                  >
                </template>
                <template v-slot:item.marca="{ item }">
                  <code class="text-caption"
                    >{{item.producto.marca.nombre}}</code
                  >
                </template>
                <template v-slot:item.color="{item}">
                  <v-avatar
                    size="30"
                    :color="item.producto.color.color"
                    style="border: 1px solid #686868;"
                  ></v-avatar>
                </template>
                <template v-slot:item.cantidad="{ item }">
                  <code>
                    {{item.cantidad}} {{item.producto.unidadMedida.sigla}}
                  </code>
                </template>
                <template v-slot:item.precioUnitarioCompra="{ item }">
                  <span
                    class="text-caption font-weight-medium secondary--text py-2"
                  >
                    {{parseFloat(item.precioUnitarioCompra).toFixed(2)}}
                    Bs.</span
                  >
                </template>
                <template v-slot:item.subTotal="{ item }">
                  <code
                    class="text-caption font-weight-medium secondary--text py-2"
                  >
                    {{parseFloat(item.subTotal).toFixed(2)}} Bs.
                  </code>
                </template>
                <template v-slot:item.action="{ item, index }">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        small
                        fab
                        text
                        color="secondary"
                        v-bind="attrs"
                        v-on="on"
                        @click="openModal(item,2)"
                      >
                        <v-icon small>mdi-eye</v-icon>
                      </v-btn>
                    </template>
                    <span>Ver Detalles</span>
                  </v-tooltip>
                </template>
              </v-data-table>
            </v-card-text>
          </td>
        </template>
      </v-data-table>
    </v-card-text>
  </v-card>
  <detalle-entrada-modal
    v-model="dialogDetalleEntrada"
    :defaultItem="defaultItem"
  ></detalle-entrada-modal>
  <entrada-modal
    v-model="dialogEntrada"
    :defaultItem="defaultItem"
  ></entrada-modal>
  <v-dialog v-model="anularDialog" max-width="500px">
    <v-card>
      <v-card-title class="error white--text">
        <v-icon large left dark>mdi-archive-cancel</v-icon>
        Anular Entrada
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text class="d-flex flex-column justify-space-around">
        <v-form ref="anulacionForm">
          <p class="text-body-1 pt-4 text-center">
            ¿Esta seguro de anular esta entrada?
          </p>
          <v-alert
            type="warning"
            dense
            icon="warning"
            text
            outlined
            class="elevation-2"
          >
            <span class="text-overline mr-3">advertencia:</span>Esta accion es
            irreversible.
          </v-alert>
          <v-textarea
            color="primary"
            label="Observacion Anulacion de Entrada del Inventario"
            placeholder="Escriba la Observacion de Anulacion de Entrada del Inventario"
            outlined
            rows="4"
            v-model="anularItem.observacionAnulacion"
            :rules="rules.anulacionRules"
          ></v-textarea>
        </v-form>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions class="d-flex justify-end">
        <v-btn text tile color="secondary" @click="closeAnularDialog"
          >cancelar</v-btn
        >
        <v-btn tile color="error" @click="anularForm">Anular</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</v-container>
