.v-date-picker-table {
  height: 200px !important;
}
.v-picker__title {
  padding: 10px !important;
}
.v-date-picker-table--date .v-btn {
  height: 24px !important;
  width: 24px !important;
}
.v-card__actions {
  align-items: center !important;
  padding: 4px !important;
}
.v-card__actions > .v-btn.v-btn {
  padding: 0 4px;
}
.v-date-picker-table--month td {
  height: 50px !important;
}
