<v-container fluid>
    <v-row>
        <v-col v-for="(item, index) in arrayData" :key="index" cols="sm" lg="3">
             <mini-stadistic
                 :icon="item.icon"
                 :title="item.title"
                 :sub-title="item.subTitle"
                 :color="item.color"
             ></mini-stadistic>
        </v-col>
    </v-row>
</v-container>
