<v-dialog
  @click:outside="dialogEvent"
  :value="value"
  @input="dialogEvent"
  max-width="600px"
  transition="dialog-transition"
>
  <v-card>
    <v-card-title class="primary lighten-1 white--text">
      <v-icon color="white" size="36" class="ml-0 mr-2">mdi-chart-box-plus-outline</v-icon>
      <span class="headline">Agregar producto a Inventario</span>
      <v-spacer></v-spacer>
      <v-btn color="white" icon @click="dialogEvent">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-card-title>
    <v-divider></v-divider>
    <v-card-text class="mt-5">
      <v-form id="defaultItem" @submit.prevent="checkFormAdd">
        <v-row>
          <v-col cols="12" md="12">
            <!-- start select product -->
            <v-autocomplete
              v-model="defaultItem"
              label="Buscar producto"
              :items="productos"
              :search-input.sync="searchProducto"
              autocomplete
              chips
              color="blue-grey lighten-2"
              item-text="nombre"
              item-value="nombre"
              solo
              return-object
              prepend-icon="mdi-database-search"
            >
              <template v-slot:no-data>
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-title>
                      No exite el Producto
                    </v-list-item-title>
                  </v-list-item-content:>
                </v-list-item>
              </template>
            <template v-slot:selection="{ attr, on, item, selected }">
                <v-chip
                  v-bind="attr"
                  :input-value="selected"
                  class="info--text"
                  close
                  @click:close="remove()"
                >
                <v-avatar left>
                  <v-img v-if="item.imageUrl" :src="base + item.imageUrl" alt="foto"></v-img>
                  <v-img v-else src="../../../../../assets/producto.png" alt="img"></v-img>
                </v-avatar>
                {{ item.nombre }}
              </v-chip>
            </template>
            <template v-slot:item="{ item }">
              <template v-if="typeof item !== 'object'">
                <v-list-item-content v-text="item.nombre"></v-list-item-content>
              </template>
              <template v-else>
                <v-list-item-avatar>
                  <v-img v-if="item.imageUrl" :src="base + item.imageUrl" alt="foto"></v-img>
                  <v-img v-else src="../../../../../assets/producto.png" alt="img"></v-img>                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title v-html="item.nombre"></v-list-item-title>
                  <v-list-item-subtitle v-html="item.codigo"></v-list-item-subtitle>
                </v-list-item-content>
              </template>
            </template>
          </v-autocomplete>
          <!-- end select product -->
          </v-col>
          <v-col cols="12" md="12">
            <v-text-field
              :error-messages="codigoErrors"
              prepend-icon="mdi-data-matrix-plus"
              @input="$v.defaultItem.codigo.$touch()"
              @blur="$v.defaultItem.codigo.$touch()"
              v-model="defaultItem.codigo"
              label="Codigo"
              required
              color="info"
              hint="stock inicial"
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="12">
            <v-text-field
              :error-messages="cantidadErrors"
              prepend-icon="mdi-stocking"
              @input="$v.defaultItemDEx.cantidad.$touch()"
              @blur="$v.defaultItemDEx.cantidad.$touch()"
              v-model="defaultItemDEx.cantidad"
              label="Stock Inicial"
              required
              color="info"
              hint="stock inicial producto"
              type="number"
            >
            </v-text-field>
          </v-col>
          <v-col cols="12" md="12">
            <v-text-field
              prepend-icon="mdi-sale"
              v-model="defaultItemDEx.costoUnitario"
              label="Costo por Unidad"
              required
              color="info"
              hint="Costo unitario"
              type="number"
            >
            </v-text-field>
          </v-col>
        </v-row>
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
        color="success"
        text
        outlined
        form="defaultItem"
        type="submit"
      >Guardar</v-btn>
    </v-card-actions>
  </v-card>
</v-dialog>
