<v-container fluid>
  <v-row>
    <v-col cols="12">
      <v-card>
        <v-card-title primary-title>
          <v-avatar size="48" color="info"
            ><v-icon large color="white">mdi-file-cog-outline</v-icon>
          </v-avatar>
          <span class="headline ml-2 info--text"
            >Lista de Talonarios, sucursal
            <code>{{this.sucursal.nombre}}</code></span
          >
          <v-spacer></v-spacer>
          <v-card-actions>
            <v-btn to="/create-dosage" type="button" color="success" dark tile>
              <v-icon>mdi-plus</v-icon>
              Nuevo
            </v-btn>
          </v-card-actions>
        </v-card-title>
        <v-card-text class="layout">
          <v-text-field
            label="Buscar"
            placeholder="Buscar"
            prepend-icon="search"
            hide-details
            @input="searchByKeyword($event)"
          ></v-text-field>
          <v-btn icon><v-icon>filter_list</v-icon></v-btn>
        </v-card-text>
        <v-data-table
          :headers="complex.headers"
          :items="complex.items"
          :items-per-page.sync="elementsPerPage"
          :server-items-length="pagination.totalElements"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          :loading="loading"
          class="elevation-1 mytable"
          :page.sync="page"
          :search="search"
          :footer-props="{
            itemsPerPageOptions: [5,10,20,50]
          }"
        >
          <template v-slot:no-data>
            <v-alert
              class="mt-4 text-overline"
              icon="warning"
              dense
              outlined
              type="warning"
            >
              No hay dosificaciones libres para asignar...
            </v-alert>
          </template>
          <template v-slot:item.#="{ index }">
            <span class="body-2 font-weight-bold"
              >{{((page-1)*elementsPerPage)+index+1}}</span
            >
          </template>
          <template v-slot:item.codigoDosificacion="{ item }">
            <code>{{item.codigoDosificacion}}</code>
          </template>
          <template v-slot:item.tipoDosificacion="{ item }">
            <span
              class="text-overline"
              :class="getColorText(item.tipoDosificacion)"
            >
              {{item.tipoDosificacion}}
            </span>
          </template>
          <template v-slot:item.nombreCaja="{ item }">
            <span class="text-body-2">{{item.nombreCaja}}</span>
          </template>
          <template v-slot:item.fechaLimiteEmision="{ item }">
            <span class="text-caption">{{fecha(item.fechaLimiteEmision)}}</span>
          </template>
          <template v-slot:item.numeroFactura="{ item }">
            <code class="text-overline font-weight-bold"
              >{{item.numeroFactura}}</code
            >
          </template>
          <template v-slot:item.valorInicio="{ item }">
            <span class="text-caption font-weight-medium"
              >{{completeNum(item.valorInicio)}}</span
            >
          </template>
          <template v-slot:item.valorFinal="{ item }">
            <span class="text-caption font-weight-medium"
              >{{completeNum(item.valorFinal)}}</span
            >
          </template>
          <template v-slot:item.action="{ item }">
            <v-menu>
              <template v-slot:activator="{ on: menu }">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on: tooltip }">
                    <v-btn icon v-on="{ ...menu }">
                      <v-icon>mdi-dots-vertical</v-icon>
                    </v-btn>
                  </template>
                </v-tooltip>
              </template>
              <v-list class="pa-0" dense>
                <v-list-item
                  v-for="action in actions"
                  :key="action.text"
                  @click="openModal(item, $event)"
                >
                  <v-list-item-icon>
                    <v-icon small>{{ action.icon }}</v-icon>
                  </v-list-item-icon>
                  <v-list-item-title>{{ action.text }}</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </template>
          <template v-slot:item.estado="{ item }">
            <v-chip :color="getColor(item.estado)" small dark
              >{{ item.estado? 'Activo' : 'Desactivado' }}</v-chip
            >
          </template>
        </v-data-table>
      </v-card>
    </v-col>
  </v-row>
  <v-dialog v-model="dialogLCD" max-width="340">
    <v-card>
      <v-card-title class="text-h5 justify-center mb-1">
        <v-icon size="60" color="red" class="mr-1">
          mdi-block-helper
        </v-icon>
        <div>
          Error al eliminar!!!
        </div>
      </v-card-title>
      <v-card-text>
        <v-icon>
          mdi-alert
        </v-icon>
        La dosificacion esta asignada a una caja
      </v-card-text>
      <v-card-actions class="justify-center">
        <v-btn text color="success" @click="dialogLCD = false">
          Cerrar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <delete-modal
    v-model="dialogDelete"
    :defaultItem="defaultItem"
    :deleteFunc="deleteFunc"
    :mensaje="mensaje"
  ></delete-modal>
  <!-- <dosage-modal v-model="dialog" :editItem="defaultItem" :reloadFunc="findAllDosages"></dosage-modal> -->
  <detail-dosage-modal
    v-model="dialogDetail"
    :defaultItem="defaultItem"
  ></detail-dosage-modal>
</v-container>
